﻿<div>
    <div class="modal-header">
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to clear your local storage? You have
        {{parameter}} threat {{parameter > 1 ? 'models' : 'model'}} saved locally. {{parameter > 1 ? 'These' : 'This'}} 
        will be permanently deleted. This is not reversible!
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="onOK()">OK</button>
        <button class="btn btn-primary" ng-click="onCancel()">Cancel</button>
    </div>
</div>
