﻿<div data-ng-controller="welcome as vm" class="container-fluid">
    <row>
        <div class="col-lg-6-offset-3">
            <div class="welcome jumbotron" height="420">
                <h1>Welcome!</h1>
                <p>
                    Welcome to OWASP Threat Dragon, an open-source threat modelling tool from OWASP. To use Threat Dragon, 
                    you don't need to sign-up or sign-in
                    and it is completely free. All your models are stored on your local device, so none of your data is ever
                    sent to anyone else or stored at some unknown location on the cloud. Threat Dragon is currently in the early
                    stages of development (an OWASP incubator project) so there might be some bugs and the data storage model might change and leave you
                    unable load your models. If you make a model that you want to keep, you can print it to a file or hard copy.
                    You can also save the raw model data as a file to share with friends or move between your devices or browsers.
                </p>
                <p>
                    <a class="btn btn-lg btn-default" href="{{vm.threatModelCount > 0 ? '#/threatmodels' : '#/threatmodel/edit/new'}}" role="button">
                        <span class="glyphicon glyphicon-open"></span>  {{vm.threatModelCount > 0 ? 'Open Local Model' : 'Create Local Model'}}
                    </a>
                    <button ng-disabled="vm.threatModelCount == 0" class="btn btn-lg btn-default" role="button" ng-click="vm.clearLocalStorage()">
                        <span class="glyphicon glyphicon-remove"></span>  Clear Local Storage
                    </button>
                </p>
            </div>
        </div>
    </row>
</div>