﻿
<div data-ng-controller="threatmodel as vm" class="container-fluid">
    <!--breadcrumbs-->
    <p>
        <a href="/#/">Home </a><span class="glyphicon glyphicon-chevron-right"></span>
        <a href="/#/threatmodels"> Threat models</a><span class="glyphicon glyphicon-chevron-right"></span>
        <a href="/#/threatmodel/{{vm.threatModel.summary.id}}"> Threat model detail</a><span class="glyphicon glyphicon-chevron-right"></span>
        Edit threat model
    </p>
    <div class="panel panel-default" ng-if="vm.threatModel.summary">
        <!--heading-->
        <div class="panel panel-heading">
            <h4>Editing: {{vm.threatModel.summary.title}}</h4> 
        </div>
        <div class="panel panel-body">
            <form name="vm.threatModelEditForm">
                <!--title-->
                <div class="form-group col-md-12">
                    <label>Title</label>
                    <input name="threatModelTitle" class="form-control" type="text" ng-model="vm.threatModel.summary.title" ng-required="true" placeholder="Threat model title" />
                    <div ng-show="vm.threatModelEditForm.threatModelTitle.$dirty && !vm.threatModelEditForm.threatModelTitle.$valid">
                        <p>
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                The threat model title cannot be empty.
                            </div>
                        </p>
                    </div>
                </div>
                <!--Owner-->
                <div class="form-group col-md-6">
                    <label>Owner</label>
                    <input class="form-control" type="text" ng-model="vm.threatModel.summary.owner" placeholder="The owner of the threat model" />
                </div>
                <!--reviewer-->
                <div class="form-group col-md-6">
                    <label>Reviewer</label>
                    <input class="form-control" type="text" ng-model="vm.threatModel.detail.reviewer" placeholder="The reviewer of the threat model" />
                </div>
                <!--description-->
                <div class="form-group col-md-12">
                    <label>High level system description</label>
                    <textarea rows="5" class="form-control" ng-model="vm.threatModel.summary.description" placeholder="A high level description of the system"></textarea>
                </div>
                <!--contributors-->
                <div class="form-group col-md-12">
                    <label>Contributors</label>
                    <div ng-repeat="contributor in vm.threatModel.detail.contributors" ng-form="contributorSubForm">
                        <div class="col-md-6">
                            <p>
                                <div class="input-group">
                                    <input name="contributorName" class="form-control" type="text" ng-model="contributor.name" required placeholder="The name of a contributor to the threat model" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-toggle="tooltip" ng-click="vm.removeContributor($index)" data-placement="top" title="Remove This Contributor" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </button>
                                    </span>
                                </div>
                            </p>
                            <div ng-show="contributorSubForm.contributorName.$dirty && !contributorSubForm.contributorName.$valid">
                                <p>
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        The contributor name cannot be empty.
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat-end>
                        <div class="col-md-6">
                            <p>
                                <div class="input-group" ng-show="vm.addingContributor">
                                    <input class="form-control" name="newContributorNameInput" type="text" ng-model="vm.newContributor" placeholder="The name of a contributor" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-disabled="vm.newContributor.length == 0" data-toggle="tooltip" ng-click="vm.addContributor()" data-placement="top" title="Add this contributor" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-link" data-toggle="tooltip" ng-click="vm.cancelAddingContributor()" data-placement="top" title="Cancel adding this contributor" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-remove"></span> Cancel
                                        </button>
                                    </span>
                                </div>
                                <div ng-hide="vm.addingContributor">
                                    <button class="btn btn-link" ng-click="vm.startAddingContributor()">
                                        <span class="glyphicon glyphicon-plus"></span> Add a new contributor...
                                    </button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--diagrams-->
                <div class="form-group col-md-12">
                    <label>Diagrams</label>
                    <div ng-repeat="diagram in vm.threatModel.detail.diagrams" ng-form="diagramSubForm">
                        <div class="col-md-6">
                            <p>
                                <div class="input-group">
                                    <input name="diagramTitle" class="form-control" type="text" ng-model="diagram.title" required placeholder="Diagram title" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-toggle="tooltip" ng-click="vm.removeDiagram($index)" data-placement="top" title="Remove This Diagram" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </button>
                                    </span>
                                </div>
                            </p>
                            <div ng-show="diagramSubForm.diagramTitle.$dirty && !diagramSubForm.diagramTitle.$valid">
                                <p>
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        The diagram title cannot be empty.
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat-end>
                        <div class="col-md-6">
                            <p>
                                <div class="input-group" ng-show="vm.addingDiagram">
                                    <input class="form-control" type="text" ng-model="vm.newDiagram.title" placeholder="Diagram title" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-disabled="vm.newDiagram.title.length == 0" data-toggle="tooltip" ng-click="vm.addDiagram()" data-placement="top" title="Add this diagram" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-link" data-toggle="tooltip" ng-click="vm.cancelAddingDiagram()" data-placement="top" title="Cancel adding this diagram" aria-hidden="true" type="button">
                                            <span class="glyphicon glyphicon-remove"></span> Cancel
                                        </button>
                                    </span>
                                </div>
                                <div ng-hide="vm.addingDiagram">
                                    <button class="btn btn-link" ng-click="vm.startAddingDiagram()">
                                        <span class="glyphicon glyphicon-plus"></span> Add a new diagram...
                                    </button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--buttons-->
                <div class="col-md-3 col-md-offset-9">
                    <div class="btn-group pull-right" role="group">
                        <button class="btn btn-default" ng-click="vm.cancel()" data-toggle="tooltip" data-placement="top" title="Cancel Editing" type="button">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <button class="btn btn-default" ng-disabled="!vm.dirty" ng-click="vm.reload()" data-toggle="tooltip" data-placement="top" title="Reset Form" type="button">
                            <span class="fa fa-undo"></span> Reload
                        </button>
                        <button class="btn btn-primary" ng-disabled="!vm.dirty || !vm.threatModelEditForm.$valid" ng-click="vm.save()" data-toggle="tooltip" data-placement="top" title="Save Changes" type="button">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--oops-->
    <div ng-if="!vm.threatModel.summary">
        <div class="jumbotron">
            <h1>oooops!</h1>
            <p>
                It looks like you tried to edit a threat model that doesn't exist. Maybe you typed the
                address wrong? Or if you clicked a link to get here, the threat model might have been
                deleted since you made the link <span class="fa fa-frown-o"></span>
            </p>
            <p>
                <a href="#/threatmodels">Take me back to the list of threat models</a>
            </p>
        </div>
    </div>
</div>