﻿<div data-ng-controller="threatmodels as vm" class="container-fluid">
    <p>
        <a href="#/">Home </a><span class="glyphicon glyphicon-chevron-right"></span>
        Threat models
    </p>
    <div ng-repeat-start="threatModel in vm.threatModels">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    <a href="#/threatmodel/{{threatModel.summary.id}}"><h4>{{threatModel.summary.title}}</h4></a>
                </div>
                <div class="panel-body">
                    <div>
                        <strong>Owner: </strong> {{threatModel.summary.owner}}
                    </div>
                    <div>
                        <p><small>{{threatModel.summary.description}}</small></p>
                    </div>
                    <div>
                        <strong>Diagrams</strong>
                    </div>
                    <div ng-repeat="diagram in threatModel.detail.diagrams">
                        <a href="#/threatmodel/{{threatModel.summary.id}}/diagram/{{diagram.id}}">
                            <div class="text-overflow">
                                <small>
                                    <span class="fa fa-sitemap">
                                    </span> {{diagram.title}}
                                </small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right" role="group">
                                <a class="btn btn-primary btn-sm" href="#/threatmodel/{{threatModel.summary.id}}" role="button" data-toggle="tooltip" data-placement="top" title="Edit this threat model">
                                    <span class="fa fa-caret-right"></span> Details
                                </a>
                                <a class="btn btn-default btn-sm" href="#/threatmodel/edit/{{threatModel.summary.id}}" role="button" data-toggle="tooltip" data-placement="top" title="Edit this threat model">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a>
                                <button class="btn btn-default btn-sm" role="button" ng-click="vm.saveThreatModelToFile($index)" data-toggle="tooltip" data-placement="top" title="Save this threat model as a local file">
                                    <span class="glyphicon glyphicon-file"></span>  Save To File
                                </button>
                                <a class="btn btn-default btn-sm" href="#/threatmodel/report/{{threatModel.summary.id}}/?suppressbanner=true" target="_blank" role="button" data-toggle="tooltip" data-placement="top" title="View and print threat model report">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </a>
                                <button class="btn btn-default btn-sm" role="button" ng-click="vm.deleteThreatModel($index)" data-toggle="tooltip" data-placement="top" title="Delete this threat model">
                                    <span class="glyphicon glyphicon-remove"></span>  Delete
                                </button>
                            </div>
                        </div>
                    </div>
                <div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div ng-if="(($index+1) % 3) == 0" class="clearfix visible-lg-block"></div>
    <div ng-repeat-end ng-hide></div>
    <div class="col-lg-4">
        <div>
            <a href="#/threatmodel/edit/new">
                <h4><span class="glyphicon glyphicon-plus"></span> Create new threat model...</h4>
            </a>
        </div>
        <div>
            <h4><tmt-file-read-string label-text="Load a threat model from a file..." action="vm.loadThreatModelFromFile(content)"></tmt-file-read-string></h4>
        </div>
    </div>
</div>


