﻿<div data-ng-controller="threatmodel as vm" class="container-fluid">
     <p>
        <a href="#/">Home </a><span class="glyphicon glyphicon-chevron-right"></span>
        <a href="#/threatmodels"> Threat models</a><span class="glyphicon glyphicon-chevron-right"></span>
         Threat model details
    </p>
    <div ng-if="vm.threatModel.summary">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <a href="#/threatmodel/edit/{{vm.threatModel.summary.id}}"><h4>{{vm.threatModel.summary.title}}</h4></a>
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <div><strong>Owner: </strong></div>
                    <div>{{vm.threatModel.summary.owner}}</div>
                </div>
                <div class="col-md-2">
                    <div><strong>Reviewer: </strong></div>
                    <div>{{vm.threatModel.detail.reviewer}}</div>
                </div>
                <div class="col-md-8">
                    <div><strong>Contributors: </strong></div>
                    <div>
                        <span ng-repeat="contributor in vm.threatModel.detail.contributors"> {{contributor.name}}<span ng-show=" ! $last ">;</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4>High level system description</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">{{vm.threatModel.summary.description}}</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4>Threat Model Diagrams</h4>
            </div>
            <div class="panel-body">
                <div ng-repeat-start="diagram in vm.threatModel.detail.diagrams">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-title">
                                <a href="#/threatmodel/{{vm.threatModel.summary.id}}/diagram/{{diagram.id}}"><h6>{{diagram.title}}</h6></a>
                            </div>
                            <div class="panel-body">
                                <a href="#/threatmodel/{{vm.threatModel.summary.id}}/diagram/{{diagram.id}}">
                                    <img src="{{diagram.thumbnail}}" class="img-thumbnail center-block" alt="Thumbnail of {{diagram.title}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="(($index+1) % 5) == 0" class="clearfix visible-lg-block"></div>
                <div ng-repeat-end ng-hide></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group">
                    <a class="btn btn-primary" href="#/threatmodel/edit/{{vm.threatModel.summary.id}}" role="button" data-toggle="tooltip" data-placement="top" title="Edit This Threat Model">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a class="btn btn-default" href="#/threatmodel/report/{{vm.threatModel.summary.id}}/?suppressbanner=true" target="_blank" role="button" data-toggle="tooltip" data-placement="top" title="EView and Print Threat Model Report">
                        <span class="glyphicon glyphicon-print"></span> Print
                    </a>
                    <button class="btn btn-default" role="button" ng-click="vm.delete()" data-toggle="tooltip" data-placement="top" title="Delete This Threat Model">
                        <span class="glyphicon glyphicon-remove"></span>  Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.threatModel.summary">
        <div class="jumbotron">
            <h1>oooops!</h1>
            <p>
                It looks like you tried to view a threat model that doesn't exist. Maybe you typed the
                address wrong? Or if you clicked a link to get here, the threat model might have been
                deleted since you made the link <span class="fa fa-frown-o"></span>
            </p>
            <p>
                <a href="#/threatmodels">Take me back to the list of threat models</a>
            </p>
        </div>
    </div>
</div>