﻿/*threat model element highlighting*/

.element.highlighted rect {
	stroke-width: 3
}

.element.highlighted circle {
	stroke-width: 3
}

.element.highlighted path {
	stroke-width: 3
}

.link.highlighted path {
	stroke-width: 3
}

/*threat model element tools*/

.element .element-tools {
	display: none;
	cursor: pointer
}

.element.highlighted .element-tools {
	display: inline;
}

.element-tool-link circle {
	fill: grey;
}

.element-tool-link.linking circle {
	fill: green;
}

/*threat model link tools*/

.tm.Flow .link-tools .tool-options {
	display: inline;
}

.tm.Flow .labels .label text {
	font-weight: 400;
	font-size: small
}


/* responsive paper */

.tmt-diagram-container {
	height: 100%;
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
}

/*stencil*/

.stencil .element, .stencil .link, .stencil .connection-wrap, .stencil .marker-arrowheads {
	cursor: pointer;
}

.stencil .link-tool, .stencil .marker-arrowheads {
	visibility: hidden;
}

.stencil .link:hover, .stencil .element:hover path, .stencil .element:hover rect, .stencil .element:hover circle {
	stroke-width: 3;
}