﻿<div ng-controller="shell as vm">
    <header ng-if="!vm.suppressBanner" class="clearfix">
        <div ng-include="'/app/layout/topnav.html'"></div>
    </header>
    <section id="content">
        <div ng-view></div>
    </section>
</div>
