﻿<div>
    <div class="modal-header">
        <h3>Are you sure you want to leave this page?</h3>
    </div>
    <div class="modal-body">
        You have unsaved changes and if you leave this page they will be lost!
        Press Cancel to stay where you are and keep the unsaved changes,
        or press OK to leave and lose the unsaved changes.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="onOK()">OK</button>
        <button class="btn btn-primary" ng-click="onCancel()">Cancel</button>
    </div>
</div>
