﻿<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">
                <div>
                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                         xmlns:cc="http://creativecommons.org/ns#"
                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:svg="http://www.w3.org/2000/svg"
                         xmlns="http://www.w3.org/2000/svg"
                         version="1.1"
                         id="svg2"
                         viewBox="0 0 2305.9131 371.80446"
                         height="50px"
                         width="350px">
                        <defs id="defs4" />
                        <metadata id="metadata7">
                            <rdf:RDF>
                                <cc:Work rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                    <dc:title></dc:title>
                                </cc:Work>
                            </rdf:RDF>
                        </metadata>
                            <g transform="translate(-11.560426,-613.96281)"
                               id="layer1">
                                <path id="path4160"
                                      d="m 1852.0157,959.08791 c -19.19,-4.06843 -20.0894,-4.9564 -17.5033,-17.28201 1.8823,-8.97173 3.615,-10.63682 10.3205,-9.91782 40.8487,4.38003 56.6917,4.56499 65.8563,0.76886 14.3686,-5.95168 23.0608,-18.43104 23.0608,-33.10831 l 0,-12.43329 -15.6767,4.85867 c -19.0925,5.91742 -41.743,3.92734 -59.7276,-5.24771 -22.9549,-11.71073 -33.5214,-32.93665 -33.4747,-67.24423 0.083,-61.18281 39.1096,-89.40738 107.9338,-78.05891 l 28.9981,4.78154 0.8905,74.24518 c 1.2152,101.32334 -2.6906,116.94951 -33.1105,132.46854 -15.3886,7.85072 -54.8373,10.98837 -77.5672,6.16949 z m 70.2892,-93.90239 11.4451,-4.78213 0,-46.02012 c 0,-52.24809 1.2649,-50.02666 -28.4868,-50.02666 -34.5924,0 -50.7215,17.0228 -50.7215,53.53208 0,33.32386 15.6677,51.92048 43.8356,52.03029 6.8653,0.0268 17.6326,-2.10332 23.9276,-4.73346 z m -1090.15859,35.0635 c -20.72082,-7.41552 -31.3613,-16.68679 -40.1169,-34.95471 -20.07999,-41.89544 -5.22288,-103.02334 29.32328,-120.64749 26.02939,-13.27922 57.87634,-11.82627 77.40021,3.53122 13.57717,10.67979 22.58348,31.59223 24.37917,56.60777 l 1.59912,22.27734 -56.4668,0 -56.46683,0 2.00061,10.72611 c 5.71628,30.64769 25.46543,43.80286 61.88423,41.22197 12.87512,-0.91241 25.83505,-2.67033 28.79985,-3.90644 4.29826,-1.79209 5.67624,0.19943 6.80036,9.8285 1.22891,10.52664 0.32574,12.49404 -7.04072,15.3341 -17.16597,6.61828 -53.57709,6.60901 -72.09558,-0.0185 z M 894.14118,792.0795 c 0,-5.35821 -4.21428,-12.79519 -11.22118,-19.80207 -9.15586,-9.15585 -13.74188,-11.22119 -24.91648,-11.22119 -22.93658,0 -34.27102,8.20855 -42.98618,31.13112 l -3.22143,8.47302 41.17264,0 41.17263,0 0,-8.58088 z m 94.85364,109.70804 c -22.81153,-8.56906 -32.77752,-23.05068 -33.15659,-48.18002 -0.29241,-19.3826 8.00769,-33.56689 25.46484,-43.51758 11.28235,-6.43104 18.23995,-7.70131 42.37663,-7.73685 l 28.8781,-0.0425 0,-10.97999 c 0,-7.85265 -2.8828,-13.86279 -10.1214,-21.1014 l -10.1214,-10.1214 -29.4828,1.91011 -29.48274,1.91011 0,-11.27402 c 0,-13.91114 6.38884,-16.24976 44.55464,-16.30918 31.6918,-0.0494 45.3089,6.38562 55.784,26.36163 6.1611,11.74927 7.0465,19.95618 8.0492,74.61 l 1.1266,61.40862 -11.0277,2.2361 c -24.9809,5.06547 -70.3518,5.51807 -82.84138,0.8264 z m 62.87668,-47.49655 -0.9639,-25.57767 -25.3179,0 c -22.2543,0 -26.34764,0.96815 -33.82853,8.00108 -13.43875,12.63406 -10.63012,30.06082 6.34088,39.34324 3.63035,1.98566 17.43055,3.65545 30.66705,3.71065 l 24.0663,0.10039 -0.9639,-25.57766 z m 108.4179,48.7834 c -5.1868,-1.66237 -12.4462,-5.70727 -16.1321,-8.98868 -14.3369,-12.76366 -15.6916,-22.52996 -15.6916,-113.1214 l 0,-85.91494 7.981,0 c 4.3895,0 10.3301,-0.90148 13.2014,-2.00327 4.4783,-1.71854 5.2204,1.56522 5.2204,23.1024 l 0,25.10568 31.3533,0 31.3532,0 0,13.20138 0,13.20138 -31.3532,0 -31.3533,0 0.019,40.42921 c 0.02,45.3763 3.6292,63.36914 13.8007,68.81276 6.1287,3.28002 32.2794,2.87679 45.3088,-0.69863 3.0588,-0.83939 5.495,2.49882 7.0545,9.66682 2.1288,9.78381 1.456,11.30995 -6.3225,14.34129 -12.342,4.80986 -43.2902,6.43916 -54.439,2.866 z m 184.349,0.25343 -13.2014,-2.00694 0,-107.26118 0,-107.26121 26.2156,-3.05424 c 52.6937,-6.1391 97.6052,6.9117 122.9771,35.73578 16.6845,18.9545 24.0754,41.84965 24.0754,74.57967 0,32.73001 -7.3909,55.62517 -24.0754,74.57967 -27.1978,30.89851 -77.1341,43.63614 -135.9913,34.68845 z m 75.6983,-27.05101 c 18.3541,-4.62164 35.7769,-19.0911 44.3515,-36.83337 14.7358,-30.49149 11.8884,-76.01208 -6.3276,-101.15863 -14.6618,-20.23985 -31.9662,-27.68105 -68.3425,-29.38848 l -30.5282,-1.43292 0,86.20262 0,86.20262 23.2911,0 c 12.8101,0 29.7102,-1.61633 37.5557,-3.59184 z m 271.6318,25.51073 c -22.8116,-8.56906 -32.7776,-23.05068 -33.1567,-48.18002 -0.2923,-19.3826 8.0077,-33.56689 25.4648,-43.51758 11.2825,-6.43104 18.2401,-7.70131 42.3766,-7.73685 l 28.8782,-0.0425 0,-10.97999 c 0,-7.85265 -2.8828,-13.86279 -10.1215,-21.1014 l -10.1214,-10.1214 -29.4826,1.91011 -29.4829,1.91011 0,-11.27402 c 0,-13.91114 6.3889,-16.24976 44.5548,-16.30918 31.6917,-0.0494 45.3088,6.38562 55.784,26.36163 6.1611,11.74927 7.0465,19.95618 8.0491,74.61 l 1.1265,61.40862 -11.0276,2.2361 c -24.981,5.06547 -70.3518,5.51807 -82.8413,0.8264 z m 62.8766,-47.49655 -0.964,-25.57767 -25.3178,0 c -22.2543,0 -26.3477,0.96815 -33.8285,8.00108 -13.4388,12.63406 -10.6301,30.06082 6.3408,39.34324 3.6304,1.98566 17.4306,3.65545 30.6671,3.71065 l 24.0663,0.10039 -0.9639,-25.57766 z m 303.1578,48.59221 c -45.2741,-13.57044 -67.322,-73.82215 -45.2567,-123.67505 25.1062,-56.72322 103.6757,-58.96939 133.1376,-3.80621 6.0855,11.39376 7.321,18.99897 7.321,45.06052 0,26.06155 -1.2355,33.66673 -7.321,45.06049 -17.0139,31.85627 -53.9114,47.54223 -87.8809,37.36025 z m 47.5607,-31.93639 c 14.0301,-11.8056 19.6064,-26.16403 19.6064,-50.48435 0,-24.32034 -5.5763,-38.67875 -19.6064,-50.48436 -19.5493,-16.44958 -48.7744,-10.32659 -63.3641,13.27546 -11.064,17.89848 -11.0728,56.50513 -0.017,74.39047 14.6537,23.70582 43.7578,29.81437 63.3808,13.30278 z m -1739.47767,-63.68573 0,-95.71 -34.65363,0 -34.65362,0 0,-13.20138 0,-13.20137 84.1588,0 84.1588,0 0,13.20137 0,13.20138 -34.65362,0 -34.65364,0 0,95.71 0,95.71 -14.85154,0 -14.85155,0 0,-95.71 z m 128.71346,-23.10242 0,-118.81241 7.98094,0 c 4.38952,0 10.33013,-0.90145 13.20138,-2.00327 4.59167,-1.76198 5.22044,3.05068 5.22044,39.95724 0,36.94333 0.6255,41.72049 5.23132,39.95306 11.94653,-4.58431 40.24639,-5.75765 53.39314,-2.21372 18.50553,4.98844 35.01014,19.87715 39.81604,35.91775 2.30687,7.69966 3.87022,35.75991 3.87022,69.46572 l 0,56.54805 -13.20138,0 -13.2014,0 -0.0786,-48.68009 c -0.0432,-26.77405 -1.45069,-54.6207 -3.12754,-61.88146 -4.48254,-19.40926 -16.1964,-28.05292 -38.01722,-28.05292 -9.76414,0 -21.56258,1.44839 -26.21872,3.21864 l -8.46572,3.21867 0,66.08857 0,66.08859 -13.20139,0 -13.20137,0 0,-118.81242 z m 174.91831,41.47942 0,-77.33297 25.17725,-5.60141 c 22.73564,-5.05819 61.4552,-5.02651 66.53618,0.0544 0.81872,0.81874 0.52145,6.6438 -0.6606,12.94461 l -2.14916,11.456 -17.72437,-1.82931 c -9.74839,-1.00612 -23.06852,-0.82674 -29.60027,0.39861 l -11.87592,2.22794 0,67.50752 0,67.50752 -14.85157,0 -14.85154,0 0,-77.33299 z m 877.8919,0 0,-77.33297 25.1772,-5.60141 c 22.7357,-5.05819 61.4552,-5.02651 66.5363,0.0544 0.8186,0.81874 0.5215,6.6438 -0.6606,12.94461 l -2.1491,11.45603 -17.7244,-1.82931 c -9.7485,-1.00612 -23.0687,-0.82673 -29.6003,0.39862 l -11.8759,2.22793 0,67.50753 0,67.50752 -14.8517,0 -14.8515,0 0,-77.333 z m 650.1682,-1.39162 0,-78.72459 22.9129,-3.78402 c 43.8844,-7.24735 68.5031,-3.64947 87.1688,12.73927 15.8256,13.89503 18.6317,27.74254 18.6317,91.94591 l 0,56.54805 -13.2015,0 -13.2014,0 -0.078,-48.68009 c -0.1255,-78.1092 -5.9631,-89.93438 -44.39,-89.93438 -33.848,0 -31.4392,-5.46374 -31.4392,71.3105 l 0,67.30397 -13.2013,0 -13.2013,0 0,-78.72462 z"
                                      style="fill:#ffffff" />
                                <g style="fill:#000000"
                                   transform="translate(-1001.7512,190.26858)"
                                   id="layer1-1">
                                    <path d="m 1057.5436,709.86713 c -5.6788,0.73545 -11.1484,1.63398 -14.8584,4.52718 -3.534,2.75591 -5.4452,7.41402 -5.4452,11.8417 0,9.07594 9.1246,16.36887 20.3036,16.36887 5.5124,0 9.3972,-3.76635 13.0628,-6.6523 3.7682,-2.96666 7.2408,-5.11601 7.2408,-9.71657 0,-10.28093 -9.1246,-17.81663 -20.3036,-16.36888 z m 0.423,2.1297 c 5.7442,0.002 9.3152,0.84657 12.861,3.87799 3.4195,2.92354 4.769,5.52393 4.769,9.79175 0,4.49048 -2.7728,4.85771 -6.5526,7.74209 -3.5374,2.69946 -6.4941,6.49709 -11.7824,6.49709 -5.3104,0 -8.5671,-0.53723 -12.1088,-3.25667 -3.7538,-2.88231 -5.0982,-5.94013 -5.0982,-10.41307 0,-4.11761 0.2867,-7.04432 3.5309,-9.79269 3.6048,-3.05396 8.5165,-4.44794 14.3811,-4.44649 z m 124.2452,-288.30185 c -1.826,-0.0336 -4.0585,1.06603 -7.2034,3.12911 -3.4657,2.27362 -8.5165,6.32239 -11.2233,8.99643 -4.6835,4.62698 -5.4661,4.933 -16.192,6.33859 -6.1988,0.81233 -15.5879,3.05706 -20.8653,4.98761 -29.2909,10.71514 -34.137,12.03655 -37.5666,10.2461 -4.1054,-2.1433 -13.6194,-3.61904 -16.7875,-2.6039 -2.728,0.87411 -5.0314,6.44459 -4.9851,12.05616 0.017,2.06506 1.3951,7.56942 3.0624,12.23126 4.6628,13.03725 4.8991,14.49362 2.1812,13.43134 -1.252,-0.48933 -4.8399,-1.19929 -7.9733,-1.57776 -5.5913,-0.67533 -5.6973,-0.62542 -5.6973,2.67108 0,1.84741 -0.6073,6.69093 -1.3491,10.76358 -1.3215,7.2554 -1.2704,7.53903 2.5084,14.06444 2.1211,3.66285 6.4204,9.1544 9.5547,12.20261 6.2783,6.10597 6.4387,6.69286 8.3703,30.78343 1.0206,12.729 2.0919,15.74847 7.8839,22.2208 3.954,4.41843 8.5803,7.29895 15.7067,9.53374 2.4672,0.7737 5.2295,1.47153 8.3736,2.12719 10.6707,2.22513 12.1986,3.25657 15.8998,10.73824 3.3351,6.74166 3.292,7.69082 -0.6064,13.52274 -3.876,5.79852 -5.73,7.34789 -10.9495,9.14398 -3.4363,1.18246 -4.2074,1.0636 -5.6591,-0.87091 -1.9798,-2.63818 -2.1831,-9.80452 -0.4886,-17.22437 1.869,-8.18415 -2.4797,-12.60862 -9.4478,-10.75697 -1.1776,0.31292 -2.4275,0.80028 -3.7375,1.48418 -9.9825,5.21148 -26.8099,31.92759 -33.6863,53.48208 l -2.7374,8.57915 c -7.7558,1.44517 -10.5283,5.07152 -15.7318,8.97113 -0.5989,-0.73859 -4.6775,-0.39123 -8.7073,1.8541 -3.4905,3.12197 -4.4695,5.91176 -8.5622,8.80267 -4.6768,3.25548 -7.0321,7.88719 -11.0957,12.54503 -3.1845,16.34901 0.7706,15.52941 3.2009,22.02152 0.899,2.40157 4.2459,3.59777 6.6362,4.39527 2.0038,0.66855 1.507,0.37753 2.8061,0.81035 3.7328,1.24371 1.3134,4.71064 1.0088,9.10435 -1.4115,20.36276 3.62,26.31357 6.4138,32.31055 4.1138,8.88456 7.5113,17.27193 18.5445,22.13163 8.1112,4.13126 15.7341,5.59099 30.6598,5.87284 2.4989,0.0472 4.5635,0.0552 6.3811,-0.002 5.5054,-0.17384 8.7254,-0.94892 14.7285,-3.06194 l 9.3365,-3.28654 c 0.4901,2.74516 5.5728,2.72991 7.9703,3.67078 5.247,2.05907 10.4237,3.57393 10.4237,3.57393 0.3469,0.56672 9.4203,0.96749 20.1629,0.88963 17.9142,-0.12973 20.0106,-0.3778 25.3105,-2.99148 l 5.778,-2.84944 3.2172,3.02341 c 1.7693,1.66313 4.0262,3.35563 5.0157,3.76108 3.5519,1.45544 25.7302,-0.16214 31.6981,-2.31214 5.1029,-1.83839 7.7119,-1.97936 19.1028,-1.03276 33.213,2.76012 72.6598,-3.99004 83.1175,-14.22298 2.207,-2.15954 4.0134,-4.6671 4.0134,-5.57227 0,-0.90516 -3.1039,-3.03031 -6.897,-4.72227 -29.9267,-13.34919 -38.8166,-19.12816 -47.5182,-30.89024 -2.6725,-3.61239 -3.4863,-6.41771 -4.3929,-15.13574 -0.6122,-5.88586 -2.1684,-14.516 -3.4583,-19.17758 -1.9293,-6.97215 -2.0878,-9.01178 -0.8921,-11.50236 1.562,-3.25384 3.6173,-3.51986 13.7098,-1.77264 7.0062,1.21289 9.1633,-1.0396 13.0512,-13.62844 5.3276,-17.25093 3.4996,-26.75426 -9.7292,-50.5919 -4.0845,-7.35999 -8.9907,-13.89251 -15.1124,-20.12226 -7.6623,-7.7976 -11.1861,-10.29095 -22.788,-16.11894 -25.8243,-12.97249 -33.0276,-9.53316 -23.9188,11.41868 4.1673,9.58574 4.4679,12.76319 1.3686,14.43769 -2.9101,1.57233 -4.2134,-1.28061 -7.4269,-16.25437 -1.3367,-6.22853 -4.0455,-16.13308 -6.0201,-22.00942 -5.3641,-15.96377 -5.6699,-22.0783 -1.6522,-33.08456 4.5148,-12.36843 4.9388,-18.68611 1.8398,-27.42754 -1.3809,-3.89531 -2.6947,-8.17203 -2.9195,-9.50399 -0.2248,-1.33196 -0.8122,-3.882 -1.3044,-5.66587 -0.5942,-2.15391 -0.085,-5.61115 1.516,-10.29234 1.3256,-3.87693 2.7761,-8.86445 3.2238,-11.08397 1.1916,-5.90833 -1.6615,-19.56698 -4.9099,-23.50569 -1.5075,-1.82786 -3.0842,-4.41509 -3.5041,-5.75063 -1.1268,-3.58407 -4.431,-2.91849 -7.4978,1.5106 l -2.6992,3.89762 -0.012,-8.45915 c -0.01,-6.37716 -0.722,-9.99964 -2.8988,-14.71955 -2.5045,-5.43033 -4.3035,-7.90237 -6.9722,-7.95157 z m -2.1757,4.17948 c 1.0252,0.19019 3.0788,2.77692 4.563,5.74842 2.1095,4.22325 2.6981,7.46138 2.6981,14.83296 0,5.18669 -0.4049,9.40396 -0.8997,9.37189 -0.4948,-0.0321 -2.4911,-1.74168 -4.4365,-3.79963 -3.9667,-4.19608 -14.1896,-9.43202 -18.4518,-9.45006 -1.6971,-0.007 -2.6058,-0.60706 -2.3088,-1.52492 0.8479,-2.61984 16.8823,-15.54107 18.8357,-15.17866 z m -32.5553,16.96453 c 2.2397,0.0107 4.4971,0.26706 6.0495,0.73328 2.4098,0.72372 6.9312,1.64158 10.0465,2.04018 6.9762,0.89262 16.4953,7.05621 18.6743,12.09031 0.8648,1.99794 2.0917,4.44999 2.7254,5.44896 0.6337,0.99897 2.2001,3.99506 3.4811,6.65898 2.8102,5.84379 5.2761,9.08231 6.9177,9.08231 0.6694,0 1.5411,1.63434 1.9369,3.63227 0.3958,1.99794 1.3364,3.63227 2.0896,3.63227 0.8396,0 1.0821,-1.05316 0.6281,-2.72393 -2.3553,-8.66901 -2.2705,-11.96771 0.4003,-15.61467 3.006,-4.10481 2.6389,-5.49826 -0.939,-3.56511 -1.3222,0.7144 -2.8034,3.07421 -3.2925,5.24416 l -0.89,3.94606 -0.9891,-3.73135 c -0.5441,-2.0521 -2.0571,-4.70677 -3.3623,-5.89928 -2.3462,-2.14357 -2.3153,-2.24227 2.6654,-8.68044 2.7708,-3.58166 5.3669,-6.51254 5.7703,-6.51254 0.4034,0 1.6375,2.0432 2.7418,4.54061 1.1043,2.4974 2.9035,6.17605 3.9981,8.17397 1.2474,2.27698 1.993,6.42311 1.9969,11.1104 0,6.16395 -0.5637,8.30905 -3.2402,12.20812 -3.0906,4.50249 -3.1925,5.11322 -2.131,12.68046 0.6134,4.37254 1.7647,9.17576 2.5585,10.6733 1.7602,3.54899 5.8128,13.54405 2.9752,22.0061 -0.5336,6.49061 -2.9558,10.59064 -6.8413,18.7691 -7.0918,14.92734 -12.0251,21.38462 -23.1053,30.24945 -11.8908,9.51329 -19.1194,13.04117 -30.2586,14.76689 -4.744,0.73495 -8.7917,1.2654 -8.9952,1.17809 -0.685,-0.29396 -14.713,-2.1741 -20.4715,-2.74375 -5.2585,-0.52018 -10.8508,-1.84154 -15.8856,-3.61355 -6.3747,-2.24353 -11.8534,-5.21048 -14.6129,-8.19929 -4.4776,-4.84972 -7.5163,-13.17841 -7.5447,-20.68048 -0.014,-3.817 -0.6496,-10.62804 -1.4113,-15.13574 -1.0243,-6.06214 -1.0579,-14.58073 -0.1297,-32.72233 l 1.2541,-24.52635 4.369,-9.28599 c 4.2404,-9.01463 4.4211,-9.20959 6.1945,-6.65348 2.7522,3.96687 4.5076,3.28149 3.7451,-1.46215 -0.8374,-5.20963 0.756,-6.77917 6.0059,-5.91909 3.6345,0.59545 4.1217,0.3854 3.743,-1.613 -0.2967,-1.56525 -1.769,-2.50398 -4.6198,-2.94524 l -4.1846,-0.64738 4.7975,-1.69338 c 2.6387,-0.93109 7.1041,-1.78281 9.9233,-1.89266 3.3887,-0.13207 6.0548,-1.08053 7.8665,-2.79879 3.0901,-2.93077 17.1507,-8.08898 25.4937,-9.35208 1.1744,-0.17779 2.5125,-0.25961 3.8564,-0.25322 z m -5.019,3.40545 c -3.1314,-0.0283 -5.5391,1.72104 -5.5391,5.04047 0,2.87362 1.0382,2.74907 4.5456,-0.545 l 2.901,-2.72502 3.0264,3.93615 c 3.2455,4.21898 4.4771,4.75155 5.839,2.52684 0.5019,-0.81983 -0.7281,-2.843 -2.9457,-4.84339 -2.5176,-2.27096 -5.3916,-3.36801 -7.8272,-3.39005 z m -66.6047,8.80267 c 2.1492,-0.0893 4.9833,1.0036 8.8938,3.26232 l 6.5861,3.80402 -2.9315,3.88 c -1.6123,2.13396 -4.6292,7.54376 -6.705,12.02205 -2.0758,4.47828 -4.0238,8.14205 -4.3286,8.14205 -1.1042,0 -5.3882,-11.10985 -6.6788,-17.32126 -1.0609,-5.10647 -0.985,-7.07164 0.3817,-9.95874 1.1692,-2.46978 2.6331,-3.74114 4.7823,-3.83044 z m -14.2672,35.72812 4.3831,0.80815 c 8.1965,1.51107 9.2306,2.91074 8.7815,11.88221 -0.4422,8.83341 -1.7468,9.53134 -5.5773,2.98487 -1.2384,-2.11647 -2.4618,-3.21305 -2.7178,-2.43765 -0.6848,2.07403 3.2431,9.81924 5.9503,11.73357 1.4056,0.99389 2.6043,3.63834 3.0002,6.61824 0.806,6.06618 -0.4615,6.30163 -6.2578,1.16378 -6.2241,-5.51712 -6.9501,-7.59555 -7.2721,-20.81921 z m 121.6961,17.63065 c -5.8104,0.0287 -12.4798,2.58567 -17.1452,7.28215 -9.2873,9.34929 -11.8543,28.52187 -5.4704,40.85888 1.847,3.5693 4.6808,7.16544 6.2971,7.9912 3.7535,1.91768 4.2778,1.90382 11.6268,-0.29947 7.1635,-2.14769 10.7751,-5.96466 15.842,-16.74432 6.2039,-13.19884 5.6491,-27.80006 -1.3469,-35.4716 -2.2548,-2.47253 -5.8278,-3.63645 -9.8034,-3.61684 z m -0.2628,1.95762 c 1.0472,-0.0265 3.4047,1.41257 6.6025,4.3292 7.8692,7.17731 8.9424,15.68599 3.5586,28.20486 -2.2678,5.2733 -8.0057,12.73694 -12.0129,15.62568 -2.8278,2.0385 -10.6093,2.68681 -13.9411,1.16157 -3.0447,-1.39384 -7.5196,-9.87536 -7.5196,-14.2527 0,-2.69896 0.2294,-2.58599 2.9511,1.45774 1.6229,2.41111 4.6721,4.98933 6.7759,5.72972 15.8324,5.57197 23.9513,-6.83609 18.443,-28.18614 -0.9983,-3.86937 -2.6172,-8.19175 -3.5979,-9.6053 -2.0437,-2.94579 -2.3068,-4.43817 -1.2596,-4.46463 z m -84.9845,20.60999 c -1.769,-0.0342 -3.4574,0.20315 -4.8401,0.73879 -3.3482,1.29711 -5.7896,7.80753 -5.6863,15.16436 0.1825,12.99526 7.3205,21.82805 21.6581,26.80545 0.056,0.0195 0.1096,0.0401 0.1657,0.0595 4.0594,1.39524 8.4365,0.65323 11.292,-1.91467 l 3.0297,-2.72504 -1.7428,-8.16186 c -3.0441,-14.25891 -7.951,-23.06073 -15.4166,-27.65655 -2.3416,-1.44148 -5.5114,-2.25292 -8.4597,-2.30994 z m -4.165,3.70715 c 0.6037,-0.0702 0.8176,0.99308 0.1985,3.2414 -1.3659,4.96011 0.317,16.01582 2.0677,20.28301 2.397,5.84215 10.0379,9.21701 16.6043,7.17975 0.8876,-0.27537 1.7564,-0.64579 2.5891,-1.12634 4.0321,-2.32701 4.7975,-2.23743 4.7975,0.56263 0,1.30851 -1.0437,2.94395 -2.3197,3.63335 -1.9998,1.08052 -2.805,1.28897 -6.6962,0.71346 -0.9857,-0.14578 -2.1167,-0.32852 -3.5771,-0.57583 -6.4984,-1.10044 -10.9111,-4.27899 -14.4842,-10.43437 -3.3806,-5.8236 -4.0941,-14.11744 -1.7144,-19.91747 0.9376,-2.28536 1.9308,-3.48935 2.5345,-3.55959 z m 107.189,26.47184 c 0.4432,-0.0498 0.82,0.33569 1.3044,1.03385 4.4741,6.44875 13.1179,40.82632 14.9128,50.81872 3.0705,5.39452 4.7348,6.47957 8.2743,14.986 3.5088,6.23774 9.9558,16.78978 14.3271,23.44953 5.3214,8.25019 10.7909,18.3537 15.2116,26.17237 3.2551,9.80766 12.8615,19.90475 12.0402,32.10026 4.316,23.09901 1.2416,43.1878 -8.8687,57.95993 -5.7535,8.40644 -8.6787,10.8589 -17.2881,14.49054 l -4.4856,1.89156 4.7833,-6.36941 c 6.4803,-8.62912 6.0606,-11.09283 -0.7089,-4.16076 -3.1153,3.19019 -9.344,7.55184 -14.3576,10.05343 -7.9097,3.94654 -10.045,4.46387 -19.9852,4.84009 -6.1209,0.23164 -11.9384,0.0782 -12.9279,-0.34023 -10.8651,-4.5943 -19.3765,-24.03599 -19.3787,-44.26434 -9e-4,-9.8573 0.4497,-12.3585 3.4201,-18.986 1.0127,-2.25953 1.9141,-5.39237 2.0034,-6.96175 0.089,-1.56937 0.5664,-2.85339 1.0611,-2.85385 0.4948,-4.7e-4 0.8998,-2.42089 0.8998,-5.37848 0,-2.95759 0.54,-5.71449 1.1996,-6.12608 2.3823,-1.48639 1.3417,-9.73497 -1.577,-12.5032 -3.3053,-3.13489 -5.9463,-3.34012 -8.5917,-0.66942 -1.7924,1.80953 -1.881,1.69118 -1.1353,-1.5139 1.1439,-4.91623 4.031,-10.98687 6.0168,-12.65073 1.3706,-1.14834 1.6942,-0.87277 1.7155,1.45885 0.035,3.78417 3.8436,12.04604 6.7006,14.53459 4.2887,3.73555 7.5355,3.93453 10.7784,0.66061 4.0218,-4.0603 5.2874,-9.00238 3.6273,-14.17015 -2.4092,-7.49984 -10.8268,-9.17949 -16.4593,-3.28434 l -2.589,2.70962 0.7252,-4.81477 c 0.9179,-6.09288 3.9299,-10.21685 9.8906,-13.54585 7.6111,-4.25069 15.1505,-4.18425 17.9697,0.15965 1.7618,2.71453 1.772,3.46682 0.1015,8.17397 -3.2318,9.10649 -0.9944,13.70275 1.5944,16.93039 1.8483,2.3044 1.0617,5.13155 6.9973,5.46658 6.7128,0.37886 7.4765,0.16295 9.2951,-2.63915 5.8386,-8.99603 -9.5174,-22.47519 -15.6064,-13.6989 -1.1469,1.65304 -1.8671,2.03238 -1.8671,0.98321 0,-2.68596 5.0688,-9.46541 8.1304,-10.87368 8.8054,-4.0504 19.343,1.79266 24.9931,13.85855 3.8321,8.18344 3.7727,18.58385 -0.1941,33.99731 -4.0548,15.75527 -3.2153,19.92779 1.1996,5.96092 4.3863,-13.87631 5.4668,-30.18966 2.5804,-38.96291 -3.143,-9.5532 -7.6694,-14.02709 -18.6775,-18.46191 -9.7223,-1.56548 -9.9016,3.60805 -17.0874,-4.55053 -12.9557,-5.8106 -23.7125,-3.94203 -30.3131,11.42199 -3.0545,6.35351 -9.7671,6.15996 -12.0064,18.27254 -0.7843,10.47181 0.6832,16.87994 4.7496,20.73663 3.19,3.02554 3.363,6.12648 0.711,12.75532 -0.7992,1.99793 -1.7412,10.4444 -2.0928,18.7691 -0.7137,16.89603 0.8774,26.58166 6.1924,37.70446 1.666,3.48648 3.0286,6.46496 3.0286,6.61823 0,1.41315 -12.787,4.6602 -18.0755,4.59017 -7.4301,-0.0984 -21.9181,-5.99456 -26.0772,-10.61275 -5.3942,-5.98952 -6.1399,-26.84424 -1.8453,-51.62025 0.9812,-5.6608 2.0198,-12.7178 2.3077,-15.68295 1.2043,-12.40513 7.0991,-29.19262 16.3916,-46.67667 10.4174,-19.60057 16.6816,-33.29489 16.2095,-35.43525 -0.2891,-1.31045 -1.894,1.02267 -4.2642,6.19874 -5.0205,10.96396 -15.7572,29.84207 -16.9729,29.84207 -2.0521,0 -3.8134,-3.69723 -5.1084,-10.72724 -1.5636,-8.48827 -4.0159,-8.78777 -2.7046,-0.33031 0.4782,3.08464 1.0299,7.44175 1.2258,9.68237 0.1958,2.24061 0.9631,5.55496 1.7057,7.36474 1.0958,2.67077 0.913,4.4116 -0.9696,9.24526 -1.2756,3.27536 -3.4931,10.31439 -4.9284,15.6422 -1.4352,5.32782 -2.9294,10.5045 -3.3208,11.50347 -0.3914,0.99897 -0.9121,2.36073 -1.1561,3.02671 -0.4047,1.10498 -2.9368,15.74756 -6.4912,37.5371 -0.7604,4.66184 -1.7739,10.80421 -2.2531,13.64936 -0.557,3.30668 -0.3565,6.17562 0.5562,7.95157 0.7852,1.52809 1.7673,4.14416 2.1823,5.81339 0.4149,1.66924 2.0652,4.98528 3.6676,7.36913 l 2.9141,4.33361 -3.7833,-1.0834 c -5.7262,-1.64066 -10.3792,-3.72082 -10.3792,-4.6397 0,0 -4.7437,-2.48848 -9.9702,-11.93836 -1.8358,-3.31929 -3.7305,-7.4898 -5.5009,-12.7234 -2.1413,-6.59378 -3.0362,-9.94822 -5.5621,-20.84122 -6.8061,-29.35202 0.055,-66.2298 17.6131,-94.67568 2.8001,-4.53628 6.8737,-11.71897 9.0531,-15.9615 l 3.9621,-7.71376 0,8.55054 c 0,5.18834 0.5481,8.89272 1.3938,9.42033 1.0471,0.65335 1.1692,-2.5655 0.4896,-12.9458 -1.5096,-23.05975 -1.3689,-23.53763 6.7704,-22.88252 8.2067,0.66054 14.4062,0.52504 19.1334,-0.41838 9.5198,-1.89995 33.0138,-20.45381 39.9714,-31.56627 1.9161,-3.06043 2.8396,-4.35081 3.5782,-4.43381 z m -47.3012,13.00525 c -0.8696,-0.0186 -1.8764,0.12642 -3.1442,0.41509 -4.6304,1.05431 -10.0967,5.41781 -10.0967,8.05947 0,2.37867 0.9994,1.97626 4.0875,-1.64822 2.3776,-2.79049 3.6808,-3.2467 9.1545,-3.20177 6.2695,0.0514 6.3374,0.0151 3.7854,-2.07102 -1.2672,-1.03598 -2.3372,-1.52262 -3.7865,-1.55355 z m 70.8635,7.16984 c 0.4004,-0.003 0.8494,0.005 1.3534,0.021 5.8099,0.17841 24.4082,9.2828 34.1378,16.71129 9.5437,7.28656 17.7723,18.37519 26.4349,35.62132 6.7323,13.40313 6.8931,13.95214 6.8697,23.6114 -0.018,7.57712 -0.6259,11.16345 -2.5978,15.33831 l -2.5738,5.44896 -0.1407,-11.50346 c -0.1205,-9.841 -0.7033,-12.99071 -4.0298,-21.79581 -5.3532,-14.16994 -14.1398,-29.98067 -19.6786,-35.40993 -6.4733,-6.34517 -26.6098,-17.05271 -28.7296,-15.27666 -1.7033,1.42722 -2.1628,6.12146 -0.7394,7.5585 1.6326,1.64823 3.8354,12.27845 3.888,18.76801 0.037,4.60391 -0.6965,7.74055 -2.4986,10.6843 -2.9017,4.7399 -2.958,4.70663 -8.5546,-4.9689 -4.0209,-6.95143 -4.0715,-7.20142 -1.9096,-9.38401 3.3342,-3.36612 2.8122,-10.76876 -1.4505,-20.57368 -2.0192,-4.6446 -3.5042,-9.91226 -3.299,-11.70605 0.2926,-2.55863 0.7157,-3.12566 3.5182,-3.14451 z m -63.6471,1.75394 c -1.0443,0.0141 -2.4658,1.56743 -2.4658,3.04432 0,0.95965 0.4819,1.74512 1.071,1.74512 1.2158,0 2.8716,-3.68836 2.035,-4.5329 -0.1787,-0.18044 -0.3992,-0.25979 -0.6402,-0.25654 z m -17.8061,4.91496 c -0.4747,-5.7e-4 -0.8947,0.11824 -1.1691,0.39527 -0.4472,0.45148 -0.018,1.32814 0.9521,1.9477 2.3217,1.48241 3.563,1.45313 3.563,-0.0848 0,-1.17055 -1.9219,-2.2561 -3.346,-2.2582 z m 96.2678,9.56016 c 2.8878,0 18.8706,9.90451 23.4194,14.51255 5.926,6.00304 16.2127,24.90663 20.3593,37.4138 2.8747,8.67098 3.4164,22.21569 1.2182,30.45753 -1.1726,4.39621 -1.679,4.93725 -3.9644,4.23672 -1.4411,-0.44176 -4.8356,-1.10251 -7.5436,-1.46875 -3.9268,-0.53109 -5.3842,-0.17465 -7.1968,1.76273 -2.2549,2.41005 -2.2991,2.37052 -5.586,-5.00853 -5.1704,-11.52849 -11.5105,-21.28762 -19.5402,-31.82612 l -4.0407,-6.22627 2.2979,-4.80265 c 1.8804,-3.92933 2.2258,-6.87003 1.8955,-16.1751 -0.2221,-6.25492 -0.8076,-13.96079 -1.3011,-17.12418 -0.4935,-3.16339 -0.5015,-5.75173 -0.017,-5.75173 z M 1102.4,602.04934 c 1.2998,0.0792 2.4099,0.6166 3.2707,1.66365 1.0563,1.28505 1.0952,2.92928 0.1526,6.35619 -0.6994,2.54284 -1.2748,7.50888 -1.2781,11.03552 0,5.19877 0.5511,6.97428 2.938,9.384 1.6192,1.63467 4.048,2.97276 5.3974,2.97276 2.8633,0 3.0217,0.95605 0.6772,4.08149 -2.136,2.8475 -8.8239,1.90281 -12.0565,-1.70328 -2.425,-2.70518 -2.9292,-11.17875 -1.24,-20.84453 0.9558,-5.4691 0.872,-5.75063 -1.7144,-5.75063 -1.5283,0 -3.1849,0.88101 -4.9448,2.57639 -3.3759,3.25226 -7.1396,9.55544 -11.1567,18.7669 -3.158,7.24136 -7.3691,16.81006 -9.3584,21.26402 -1.9894,4.45393 -4.8352,9.25318 -6.3244,10.66559 l -2.7079,2.56867 -0.7569,-3.04322 c -0.8257,-3.32149 3.5001,-15.45495 10.5231,-29.51506 7.0424,-14.09869 16.2874,-25.07609 23.3366,-28.96126 1.945,-1.072 3.7245,-1.6097 5.2425,-1.5172 z m -3.5586,9.01075 -1.0492,4.23783 c -1.5726,6.35105 -1.2654,17.04142 0.6195,21.55249 0.929,2.22348 3.3805,4.90776 5.5293,6.05451 l 3.8596,2.06002 -10.028,15.13572 c -5.8657,8.85341 -10.917,17.99539 -12.17,22.02482 l -2.1419,6.88798 -2.1507,-6.11176 c -1.1827,-3.36185 -4.226,-8.38705 -6.7638,-11.16655 l -4.5903,-5.02727 -0.024,-0.0264 9.2918,-21.86958 c 3.1147,-7.33049 5.4747,-12.72736 7.4346,-16.87315 3.9061,-8.26234 6.1954,-11.46307 9.5056,-14.45639 l 2.6774,-2.42226 z m 7.488,41.77493 c 0.352,0 -0.2421,2.0432 -1.3207,4.54062 -3.7233,8.62091 -7.4315,21.52244 -8.7881,30.57424 -0.7485,4.99482 -1.7553,12.351 -2.2368,16.34686 l -0.8757,7.26563 -1.5868,-4.23783 c -0.8733,-2.33091 -2.3496,-5.68512 -3.2805,-7.4528 -3.2927,-7.31215 1.7038,-17.89689 5.5031,-26.35404 0,-2.13408 11.2869,-20.68268 12.5855,-20.68268 z m -46.1801,14.53127 c 1.8856,0 5.2075,1.31312 8.2187,3.02781 2.1879,1.24588 4.2131,2.70198 5.3995,4.02644 2.2763,2.54114 11.581,24.79187 11.581,27.69397 0,2.1274 5.4974,10.89486 7.1881,11.46383 0.7513,0.25284 1.5517,4.83712 1.8715,10.71623 0.3074,5.65103 0.8306,12.87791 1.1626,16.0606 0.8963,8.59453 6.5912,25.40204 11.0618,33.0218 0.2768,0.47171 0.5499,0.91644 0.8158,1.31353 l 4.1639,6.21747 -7.0234,2.58519 c -2.8247,1.03975 -6.6581,2.36349 -9.7706,3.38564 -1.1446,0.37585 -2.2036,0.71575 -3.0624,0.9788 -6.2486,1.9139 -17.1483,2.15026 -25.1851,0.54502 -21.9614,-4.38645 -37.8738,-40.67413 -35.4051,-57.28832 0,0 1.5152,-10.39138 1.9522,-17.11757 0.211,-3.24815 -1.1671,-5.56107 -1.469,-6.75255 l 6.2861,1.89704 c 7.878,-0.63559 10.0433,-2.71731 10.0433,-2.71731 1.1084,-3.75963 -3.4281,-8.80598 -4.7462,-10.50374 -2.0566,-2.64888 -3.4224,-3.64935 -6.897,-2.88798 -3.0501,0.66837 -3.7619,0.98953 -4.3602,6.07983 -0.5747,4.88993 -0.2333,5.4756 -1.6947,3.99671 -0.9325,-0.94358 -1.9367,-4.65118 -2.2314,-8.23894 -0.7971,-9.70423 3.4387,-16.62923 11.6203,-18.9981 4.4845,-1.29844 5.9368,0.59537 3.6971,4.82026 -2.2961,4.33125 0.5822,13.72229 5.5566,18.13161 1.8757,1.66266 3.8467,2.74766 5.767,3.32069 6.4426,1.92238 12.3046,-1.98115 11.9955,-9.71212 -0.1678,-4.19674 -1.5514,-7.64033 -3.5706,-9.84312 -2.5897,-2.82511 -6.2258,-3.60909 -9.6845,-1.32124 -2.872,1.89981 -3.0957,2.61829 -2.5618,8.22794 0.5618,5.90271 0.5176,6.01582 -1.12,2.86045 -2.7857,-5.3674 -3.4069,-14.48186 -1.1179,-16.3997 1.0645,-0.89187 1.9358,-2.35871 1.9358,-3.25903 0,-1.95883 6.0622,-5.33114 9.5831,-5.33114 z m 157.533,8.60118 c 1.7016,-0.0484 3.5735,0.76449 5.2087,2.59841 3.3432,3.74968 4.2018,6.71578 2.7406,9.47208 -2.6468,4.99302 -13.1471,0.6868 -13.1471,-5.39169 0,-4.12508 2.3618,-6.59812 5.1978,-6.6788 z m -26.6083,0.0165 c 1.3924,0.0143 2.7355,0.87354 4.3056,2.58189 3.6758,3.99951 4.019,9.10307 0.8278,12.32483 -2.7456,2.77186 -5.0512,2.35337 -9.0029,-1.63612 -4.2286,-4.26904 -4.4313,-7.26919 -0.7296,-10.7801 1.7651,-1.67403 3.2066,-2.50483 4.5991,-2.4905 z m -133.925,6.71292 c 1.6602,0.0719 3.3732,1.27962 4.6143,3.0278 1.2191,1.71707 1.9829,3.9553 1.7701,6.18113 -0.3036,3.17449 -0.9534,3.98335 -3.4354,4.27528 -0.9505,0.11179 -1.8461,-0.0483 -2.6643,-0.40518 -4.5587,-1.98818 -6.6807,-10.17857 -2.0623,-12.67385 0.5668,-0.30628 1.1682,-0.43155 1.7776,-0.40518 z m -32.4386,4.5307 c 0.6598,0.12064 0.6685,1.58491 0.6685,5.45666 0,3.43251 0.6569,8.16202 1.7177,10.39364 l 2.118,4.45472 -3.6841,-0.96449 c -4.2103,-0.85012 -6.6577,1.98104 -6.5021,7.52218 0.064,2.27213 2.0543,3.72915 1.8649,3.72915 -1.3519,0 -6.3054,-8.80139 -6.2894,-13.09993 0.022,-5.91021 3.8214,-13.66681 8.0758,-16.4867 1.0046,-0.6658 1.6348,-1.07761 2.0307,-1.00523 z m 150.7506,6.65568 c 0.9008,-0.0231 2.0008,0.39653 3.2238,1.39719 1.9556,1.60011 2.6688,3.27441 2.3993,5.63612 -0.4885,4.28127 -3.7493,4.98909 -6.2665,1.36086 -2.9657,-4.27457 -2.059,-8.32475 0.6434,-8.39417 z m -137.9121,1.11313 c 1.2183,-0.0309 2.5603,0.44306 3.9141,1.78474 2.3132,2.29252 4.713,7.27075 4.0014,9.14288 -0.5575,1.16053 -7.1984,2.24198 -9.0541,0.42721 -2.6275,-1.85799 -3.546,-9.21366 -1.4254,-10.53678 0.7444,-0.46444 1.6164,-0.79405 2.564,-0.81805 z m 168.9679,1.58986 c -3.4209,-0.0715 -6.9952,0.61217 -10.4446,2.19324 -10.7094,4.90868 -15.5808,20.38228 -8.6277,27.40551 1.7303,1.7478 4.9691,3.61214 7.1968,4.14314 6.2095,1.48008 8.4794,1.3731 15.4941,-0.72998 8.9999,-2.69825 15.5435,-9.34216 15.5377,-15.77432 -0.01,-10.00737 -8.8936,-17.02311 -19.1563,-17.23759 z m -1.0285,2.55217 c 0.8139,0.0134 1.6426,0.0853 2.4855,0.22131 17.3972,2.80851 20.7312,18.39199 5.6013,26.18447 -5.6388,2.90422 -13.5406,3.89784 -18.5794,2.33637 -16.124,-4.99672 -6.0563,-29.01492 10.4926,-28.74215 z m -181.3112,9.75065 c 0.5397,-0.0318 1.1643,0.18884 1.9947,0.63749 3.7485,2.02533 5.4707,4.72875 4.6579,7.31408 -1.0423,3.31543 -3.3759,3.89679 -6.2513,1.55794 -3.3152,-2.69666 -4.1402,-5.57059 -2.3207,-8.08259 0.6718,-0.92756 1.2254,-1.38601 1.9194,-1.42692 z m 247.3805,30.93538 4.3471,4.13983 c 6.1158,5.82413 18.0064,12.98777 31.3328,18.87701 16.2366,7.17531 17.3906,7.87334 17.3906,10.51695 0,5.11799 -19.7941,12.33349 -41.3793,15.08398 -11.0209,1.40387 -23.7609,1.40889 -26.9857,0.01 -1.3193,-0.57237 -3.9634,-1.0784 -5.875,-1.12525 l -3.4757,-0.0848 4.0461,-2.75366 c 8.8746,-6.03775 16.7791,-22.00117 19.8183,-40.0265 l 0.7808,-4.6375 z"
                                          style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                          id="path3431" />
                                </g>
                            </g>
                    </svg>
                </div>
                <!--<div class="visible-xs">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                         xmlns:cc="http://creativecommons.org/ns#"
                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                         xmlns:svg="http://www.w3.org/2000/svg"
                         xmlns="http://www.w3.org/2000/svg"
                         version="1.1"
                         id="svg2"
                         viewBox="0 0 2305.9131 371.80446"
                         height="50px"
                         width="350px">
                        <defs id="defs4" />
                        <metadata id="metadata7">
                            <rdf:RDF>
                                <cc:Work rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                    <dc:title></dc:title>
                                </cc:Work>
                            </rdf:RDF>
                        </metadata>
                        <g transform="translate(-98.113343,-367.1257)"
                           id="layer1">
                            <path id="path3448"
                                  d="m 1071.6872,736.1752 c -9.1351,-2.50308 -9.797,-3.17 -9.1809,-9.25096 0.3651,-3.60435 1.6242,-10.21006 2.7979,-14.67928 2.0303,-7.73089 2.4234,-8.01532 8.0871,-5.8516 7.7948,2.97788 28.4946,2.82784 36.6803,-0.26586 8.4044,-3.17634 17.5648,-11.95463 24.1792,-23.17065 l 5.2918,-8.97318 -16.2301,-33.68792 c -19.9419,-41.3924 -37.899,-86.45402 -48.2974,-121.19788 -4.3215,-14.43914 -8.3937,-28.01532 -9.0494,-30.16928 -1.0917,-3.58612 0.4088,-3.86279 17.7989,-3.28162 l 18.9912,0.63467 7.2602,25.15912 c 9.3304,32.33277 23.2678,71.83087 35.125,99.54258 9.1489,21.38194 9.4154,21.73422 11.7717,15.55256 5.4202,-14.22026 20.4172,-65.32925 27.631,-94.16495 4.2343,-16.92628 8.6697,-34.46689 9.8564,-38.97912 l 2.1574,-8.20407 17.4177,0 c 11.2296,0 17.4176,0.85666 17.4176,2.41125 0,1.32618 -4.0044,17.32411 -8.8987,35.55093 -16.9686,63.1913 -47.6598,148.43375 -62.7263,174.21749 -9.0712,15.52366 -23.6896,29.71114 -36.2008,35.13344 -13.6255,5.90513 -37.5535,7.5998 -51.8798,3.67433 z m 805.0917,1.49059 c -3.0082,-0.54466 -12.6964,-2.61185 -21.5294,-4.5938 l -16.06,-3.60346 1.3509,-6.73662 c 0.7429,-3.70513 1.9568,-10.51646 2.6974,-15.13627 1.1471,-7.15507 2.0299,-8.23867 5.9582,-7.31301 31.5893,7.44369 38.8097,8.39941 56.3466,7.45813 21.835,-1.17196 35.1519,-6.99348 41.6947,-18.22695 3.7599,-6.45542 9.5559,-30.96777 7.7494,-32.77419 -0.4686,-0.46862 -6.6894,1.20464 -13.8239,3.71833 -18.4678,6.50679 -49.3927,5.23566 -66.5717,-2.73632 -15.0781,-6.99703 -29.7662,-21.50949 -36.4442,-36.00858 -11.623,-25.23538 -11.503,-66.40893 0.2686,-92.12122 6.8574,-14.97866 23.0456,-30.99527 39.4851,-39.06679 12.7263,-6.24838 14.0312,-6.43116 45.9149,-6.43116 29.184,0 40.0572,1.23612 60.7099,6.90171 3.5698,0.97925 3.8269,7.29066 3.8026,93.33526 -0.028,100.00624 -0.7375,107.37095 -11.9784,124.35722 -6.6992,10.12311 -21.8221,20.30425 -37.2199,25.05759 -10.7192,3.30906 -51.5488,5.876 -62.3508,3.92013 z m 67.2483,-109.53531 8.2289,-4.02064 0.5846,-53.8658 0.5845,-53.8658 -6.8742,-1.37487 c -14.2243,-2.84483 -39.9789,-1.39794 -48.9885,2.75218 -19.6409,9.04712 -29.388,24.88796 -31.1523,50.62836 -2.5125,36.65617 11.8118,60.82699 38.8093,65.48692 10.5206,1.8159 28.9095,-0.90417 38.8077,-5.74035 z m 162.9639,47.32712 c -15.3966,-2.21225 -33.1879,-11.20278 -45.1225,-22.80184 -28.9155,-28.10262 -36.3223,-81.06404 -17.3032,-123.72429 14.5943,-32.73517 53.7466,-52.72524 90.5649,-46.23981 49.7828,8.76905 79.2449,55.16195 71.986,113.35386 -6.7247,53.90971 -48.2726,86.86249 -100.1252,79.41208 z m 33.6853,-34.12234 c 9.8178,-4.65886 23.3446,-20.19072 26.7643,-30.73152 4.8335,-14.89839 5.5825,-39.79858 1.6577,-55.10019 -7.1697,-27.95132 -23.1716,-42.3126 -47.1464,-42.3126 -31.9013,0 -51.0392,24.77401 -51.0392,66.07002 0,29.75574 10.9872,52.87379 29.4551,61.97533 9.4293,4.64711 30.6144,4.69912 40.3085,0.0989 z M 724.42841,672.15304 c -26.92108,-7.25063 -39.93578,-23.00704 -41.6991,-50.48354 -1.23501,-19.24402 2.55327,-31.36013 13.24867,-42.37332 15.30088,-15.7555 48.57523,-23.83702 80.13681,-19.46326 8.78967,1.21806 16.4156,1.78028 16.9465,1.24939 2.153,-2.15303 -3.79494,-29.17789 -7.5199,-34.16708 -9.11246,-12.20514 -14.63207,-14.38686 -36.16472,-14.29467 -11.03969,0.0472 -25.29386,1.38882 -31.67594,2.98122 -6.38206,1.59242 -12.11107,2.38798 -12.73112,1.76793 -0.62006,-0.62005 -1.30528,-7.36176 -1.52272,-14.98159 l -0.39536,-13.8542 10.93874,-2.95233 c 6.0163,-1.62379 21.7681,-3.08064 35.00398,-3.23746 32.49063,-0.38496 46.6511,3.82365 60.30049,17.92184 16.10626,16.63583 17.3646,24.05776 17.3646,102.41968 l 0,65.7987 -4.99456,1.25355 c -23.32106,5.85323 -79.30786,7.24382 -97.23637,2.41514 z m 55.96728,-26.47738 13.44741,-1.40552 0,-26.79804 0,-26.79803 -6.0163,-1.52084 c -10.51686,-2.65846 -43.47478,-1.54557 -51.32147,1.73299 -10.40318,4.34673 -19.23344,15.50953 -19.23344,24.31401 0,25.9689 18.90707,35.09701 63.1238,30.47543 z m 135.96136,28.49049 c -3.00815,-0.52958 -12.60691,-2.47732 -21.33054,-4.32828 l -15.86119,-3.36537 0,-133.02164 0,-133.02162 11.24549,-1.49176 c 6.18503,-0.82048 14.06093,-2.05487 17.502,-2.74308 l 6.25649,-1.25129 0,48.40394 c 0,26.62218 0.52386,48.40396 1.16414,48.40396 0.64028,0 4.77459,-1.50854 9.18737,-3.35232 12.24444,-5.11605 33.9232,-7.48987 48.97325,-5.36256 43.26284,6.11517 69.70054,42.19872 69.70054,95.13097 0,44.04132 -16.4195,73.49534 -49.77459,89.28782 -14.00166,6.62933 -16.08551,6.9828 -43.15284,7.3199 -15.64242,0.19472 -30.90197,-0.0791 -33.91012,-0.60867 z m 59.20885,-35.289 c 13.5083,-6.85076 24.5994,-20.00306 28.6733,-34.00211 1.4735,-5.06326 2.5697,-18.06633 2.4361,-28.89568 -0.3825,-30.98321 -8.97325,-48.78046 -27.99016,-57.98637 -13.79716,-6.6791 -37.05451,-5.64085 -52.58007,2.34727 l -10.84189,5.5783 -0.5824,58.24484 -0.58238,58.24484 6.05175,0.91481 c 3.32848,0.50316 14.4895,1.06232 24.8023,1.24261 16.49344,0.28833 20.17847,-0.39641 30.61345,-5.68851 z m 711.9727,34.56004 c -18.6501,-4.65133 -33.1499,-14.4946 -39.6317,-26.90427 -9.0809,-17.38531 -7.9484,-45.40338 2.4716,-61.14906 13.6803,-20.6722 49.2369,-30.62083 89.4409,-25.02523 l 12.9013,1.79561 -1.2071,-13.31182 c -1.556,-17.1599 -6.9405,-26.31956 -19.0929,-32.47923 -12.8096,-6.4928 -34.6376,-6.29175 -61.742,0.56866 -6.6684,1.68783 -7.8355,-0.74361 -8.8431,-18.42289 l -0.55,-9.65018 10.9386,-3.06759 c 13.6156,-3.81827 58.1455,-4.46767 70.1376,-1.02285 22.9135,6.58212 37.6346,23.79129 42.3421,49.49864 1.342,7.32798 2.3773,39.40809 2.3773,73.6627 l 0,60.68136 -6.0164,1.22466 c -25.5447,5.1998 -78.8822,7.25371 -93.5262,3.60149 z m 51.0911,-27.76153 13.4474,-1.40552 0,-26.88779 c 0,-31.55429 1.7872,-29.68292 -28.3468,-29.68292 -35.13,0 -47.8731,9.82086 -46.3769,35.74148 1.0183,17.64039 24.3238,26.09705 61.2763,22.23475 z m -1255.44695,24.68771 -14.22037,-2.49855 -0.56574,-118.59836 c -0.54632,-114.52709 -0.42326,-118.67461 3.58483,-120.81968 6.82044,-3.65019 54.55687,-7.26299 76.43291,-5.78461 38.15774,2.5787 59.57314,10.0288 75.01135,26.09538 23.34719,24.29748 18.10965,71.54192 -9.52498,85.91862 -7.7342,4.02365 -7.58957,6.21057 0.63604,9.61772 23.53598,9.74893 34.85831,27.53514 34.8935,54.81405 0.0114,9.30047 -1.46988,20.94194 -3.37899,26.54485 -7.53078,22.10165 -28.87101,37.66535 -60.64361,44.22816 -19.80064,4.08992 -80.07409,4.37438 -102.22494,0.48242 z m 92.98131,-31.03173 c 22.99827,-5.99029 36.07303,-20.05147 36.0877,-38.81037 0.0102,-12.32868 -3.94816,-22.66113 -11.25784,-29.3904 -10.08476,-9.284 -22.5421,-12.00665 -60.38276,-13.19716 l -35.55093,-1.11847 0,42.94523 0,42.94523 29.07497,0 c 19.14037,0 33.50116,-1.15287 42.02886,-3.37406 z m -5.21401,-114.7773 c 19.29426,-5.41344 29.28186,-17.63994 29.07545,-35.59319 -0.14251,-12.39418 -5.15,-20.21109 -17.38684,-27.14162 -13.9758,-7.91544 -46.99126,-11.74351 -69.37436,-8.0438 l -8.20407,1.35604 0,37.24465 0,37.24467 28.98768,-1.42309 c 15.94321,-0.7827 32.54918,-2.42236 36.90214,-3.64366 z m 709.12025,146.12234 -13.6735,-2.10001 0,-119.90112 c 0,-105.00001 0.4113,-120.05894 3.3089,-121.17089 1.82,-0.69836 14.3721,-2.39407 27.8939,-3.76824 79.9093,-8.12096 137.4474,14.91927 160.1394,64.1253 8.9492,19.40571 12.1185,35.59876 12.1185,61.91649 0,62.98123 -31.2797,104.12639 -90.5946,119.16772 -14.0029,3.55092 -23.8131,4.33508 -51.4121,4.1095 -18.7589,-0.15336 -40.2601,-1.22376 -47.7805,-2.37875 z m 90.2447,-33.10799 c 16.4174,-4.42251 27.6376,-10.91156 37.6514,-21.77525 14.2907,-15.50364 19.0252,-26.55888 22.3492,-52.18756 4.1705,-32.15386 -4.4784,-64.90552 -21.8936,-82.90684 -18.3498,-18.96729 -40.1277,-26.05475 -80.2212,-26.10743 l -24.6123,-0.0323 0,92.79703 c 0,72.10474 0.6098,93.07897 2.7348,94.0615 4.635,2.14309 52.4163,-0.73093 63.9917,-3.84911 z m 148.1954,-55.54056 0.5714,-89.1183 14.2204,-4.03412 c 18.2447,-5.17573 62.3338,-7.33168 79.0188,-3.86398 l 12.2923,2.55476 -3.0486,14.54364 c -1.6767,7.999 -3.3257,14.82076 -3.6644,15.15946 -0.3387,0.33869 -4.468,-0.44783 -9.1761,-1.74784 -9.2065,-2.54197 -48.4884,-1.77395 -52.9975,1.03618 -2.1031,1.31066 -2.7347,19.36018 -2.7347,78.14641 l 0,76.44211 -17.5266,0 -17.5265,0 z m 735.0839,-1.03719 0.5712,-90.15549 13.1266,-2.90941 c 7.2195,-1.60018 27.4497,-3.49056 44.9558,-4.20086 25.9321,-1.05217 34.0389,-0.62727 43.755,2.29334 15.9388,4.79112 27.7424,13.4053 35.3455,25.79468 10.5659,17.2172 12.5976,33.24567 12.6399,99.71708 l 0.038,59.61617 -17.3264,0 -17.3264,0 -0.7225,-62.89779 c -0.713,-62.05734 -0.7957,-63.04244 -6.1919,-73.72284 -3.0082,-5.95377 -8.0585,-12.70293 -11.2227,-14.99812 -6.9169,-5.01696 -27.9297,-7.13611 -48.7022,-4.91159 l -14.4586,1.54841 0,77.49095 0,77.49098 -17.5263,0 -17.5262,0 0.5711,-90.15551 z"
                                  style="fill:#ffffff" />
                            <path d="m 142.34546,653.29858 c -5.67879,0.73545 -11.14841,1.63398 -14.85842,4.52718 -3.53395,2.75591 -5.44517,7.41402 -5.44517,11.8417 0,9.07594 9.12462,16.36887 20.30359,16.36887 5.51241,0 9.39719,-3.76635 13.06282,-6.6523 3.76815,-2.96666 7.24077,-5.11601 7.24077,-9.71657 0,-10.28093 -9.12464,-17.81663 -20.30359,-16.36888 z m 0.42303,2.1297 c 5.74413,0.002 9.3152,0.84657 12.86092,3.87799 3.41956,2.92354 4.76908,5.52393 4.76908,9.79175 0,4.49048 -2.77287,4.85771 -6.55262,7.74209 -3.53744,2.69946 -6.49416,6.49709 -11.78244,6.49709 -5.31037,0 -8.56705,-0.53723 -12.10874,-3.25667 -3.75383,-2.88231 -5.09823,-5.94013 -5.09823,-10.41307 0,-4.11761 0.28673,-7.04432 3.53086,-9.79269 3.60486,-3.05396 8.51648,-4.44794 14.38117,-4.44649 z M 267.01366,367.12643 c -1.82597,-0.0336 -4.05855,1.06603 -7.20337,3.12911 -3.46577,2.27362 -8.51657,6.32239 -11.22331,8.99643 -4.68353,4.62698 -5.46618,4.933 -16.19205,6.33859 -6.1988,0.81233 -15.5879,3.05706 -20.86525,4.98761 -29.29093,10.71514 -34.13704,12.03655 -37.5666,10.2461 -4.10543,-2.1433 -13.61942,-3.61904 -16.78751,-2.6039 -2.72806,0.87411 -5.03139,6.44459 -4.9851,12.05616 0.0171,2.06506 1.39509,7.56942 3.06238,12.23126 4.66277,13.03725 4.89911,14.49362 2.18119,13.43134 -1.25198,-0.48933 -4.8399,-1.19929 -7.97333,-1.57776 -5.59124,-0.67533 -5.69727,-0.62542 -5.69727,2.67108 0,1.84741 -0.60729,6.69093 -1.34906,10.76358 -1.32149,7.2554 -1.27041,7.53903 2.50836,14.06444 2.12113,3.66285 6.42042,9.1544 9.55469,12.20261 6.27833,6.10597 6.4387,6.69286 8.37032,30.78343 1.02063,12.729 2.09192,15.74847 7.8839,22.2208 3.95397,4.41843 8.58028,7.29895 15.70673,9.53374 2.46719,0.7737 5.22944,1.47153 8.37359,2.12719 10.67063,2.22513 12.19862,3.25657 15.89976,10.73824 3.33507,6.74166 3.29198,7.69082 -0.60637,13.52274 -3.87601,5.79852 -5.73002,7.34789 -10.94956,9.14398 -3.43626,1.18246 -4.20737,1.0636 -5.65909,-0.87091 -1.97977,-2.63818 -2.18309,-9.80452 -0.48859,-17.22437 1.86903,-8.18415 -2.4797,-12.60862 -9.44781,-10.75697 -1.17758,0.31292 -2.42746,0.80028 -3.73747,1.48418 -9.98246,5.21148 -26.80992,31.92759 -33.68627,53.48208 l -2.73739,8.57915 c -7.75586,1.44517 -10.52838,5.07152 -15.73181,8.97113 -0.59892,-0.73859 -4.67757,-0.39123 -8.70731,1.8541 -3.49051,3.12197 -4.46953,5.91176 -8.56225,8.80267 -4.67672,3.25548 -7.03209,7.88719 -11.095706,12.54503 -3.184425,16.34901 0.770616,15.52941 3.200906,22.02152 0.89901,2.40157 4.24595,3.59777 6.63626,4.39527 2.00375,0.66855 1.50701,0.37753 2.80609,0.81035 3.73277,1.24371 1.31337,4.71064 1.0088,9.10435 -1.41156,20.36276 3.62,26.31357 6.41378,32.31055 4.11383,8.88456 7.51134,17.27193 18.54448,22.13163 8.11126,4.13126 15.73413,5.59099 30.65986,5.87284 2.49891,0.0472 4.56349,0.0552 6.38106,-0.002 5.50545,-0.17384 8.72538,-0.94892 14.72848,-3.06194 l 9.33656,-3.28654 c 0.4901,2.74516 5.57273,2.72991 7.97028,3.67078 5.24702,2.05907 10.42368,3.57393 10.42368,3.57393 0.34692,0.56672 9.42033,0.96749 20.1629,0.88963 17.91421,-0.12973 20.01057,-0.3778 25.31052,-2.99148 l 5.77796,-2.84944 3.21725,3.02341 c 1.76932,1.66313 4.02614,3.35563 5.01564,3.76108 3.55195,1.45544 25.73028,-0.16214 31.69812,-2.31214 5.10291,-1.83839 7.71196,-1.97936 19.10284,-1.03276 33.21297,2.76012 72.65973,-3.99004 83.11745,-14.22298 2.20699,-2.15954 4.01338,-4.6671 4.01338,-5.57227 0,-0.90516 -3.10382,-3.03031 -6.89692,-4.72227 -29.9267,-13.34919 -38.81667,-19.12816 -47.51826,-30.89024 -2.67244,-3.61239 -3.48625,-6.41771 -4.39292,-15.13574 -0.61213,-5.88586 -2.16836,-14.516 -3.45827,-19.17758 -1.92929,-6.97215 -2.08775,-9.01178 -0.89211,-11.50236 1.56202,-3.25384 3.61734,-3.51986 13.70986,-1.77264 7.00614,1.21289 9.16329,-1.0396 13.05113,-13.62844 5.32763,-17.25093 3.4996,-26.75426 -9.72919,-50.5919 -4.08444,-7.35999 -8.99067,-13.89251 -15.11236,-20.12226 -7.66231,-7.7976 -11.18616,-10.29095 -22.78797,-16.11894 -25.82435,-12.97249 -33.02763,-9.53316 -23.91889,11.41868 4.16735,9.58574 4.4679,12.76319 1.36869,14.43769 -2.91012,1.57233 -4.21348,-1.28061 -7.42694,-16.25437 -1.3367,-6.22853 -4.04552,-16.13308 -6.02009,-22.00942 -5.36412,-15.96377 -5.66987,-22.0783 -1.65224,-33.08456 4.51484,-12.36843 4.93882,-18.68611 1.83983,-27.42754 -1.38095,-3.89531 -2.6947,-8.17203 -2.91952,-9.50399 -0.22483,-1.33196 -0.81217,-3.882 -1.30435,-5.66587 -0.59427,-2.15391 -0.0846,-5.61115 1.51593,-10.29234 1.32561,-3.87693 2.77612,-8.86445 3.22379,-11.08397 1.19166,-5.90833 -1.66146,-19.56698 -4.90985,-23.50569 -1.50746,-1.82786 -3.08422,-4.41509 -3.50408,-5.75063 -1.12678,-3.58407 -4.43098,-2.91849 -7.49784,1.5106 l -2.69922,3.89762 -0.0121,-8.45915 c -0.008,-6.37716 -0.72201,-9.99964 -2.89879,-14.71955 -2.50443,-5.43033 -4.30346,-7.90237 -6.97217,-7.95157 z m -2.17574,4.17948 c 1.02521,0.19019 3.07878,2.77692 4.56304,5.74842 2.1095,4.22325 2.69813,7.46138 2.69813,14.83296 0,5.18669 -0.40499,9.40396 -0.89973,9.37189 -0.49477,-0.0321 -2.49111,-1.74168 -4.43654,-3.79963 -3.96672,-4.19608 -14.18958,-9.43202 -18.45176,-9.45006 -1.69708,-0.007 -2.60585,-0.60706 -2.30879,-1.52492 0.84791,-2.61984 16.88229,-15.54107 18.83565,-15.17866 z m -32.55532,16.96453 c 2.23976,0.0107 4.4971,0.26706 6.04952,0.73328 2.40983,0.72372 6.93122,1.64158 10.04655,2.04018 6.97622,0.89262 16.49524,7.05621 18.67424,12.09031 0.8648,1.99794 2.0917,4.44999 2.7254,5.44896 0.6337,0.99897 2.20014,3.99506 3.48117,6.65898 2.8102,5.84379 5.27607,9.08231 6.91765,9.08231 0.66941,0 1.54109,1.63434 1.93689,3.63227 0.3958,1.99794 1.33646,3.63227 2.08958,3.63227 0.83969,0 1.08211,-1.05316 0.62818,-2.72393 -2.35536,-8.66901 -2.27055,-11.96771 0.40024,-15.61467 3.00607,-4.10481 2.63893,-5.49826 -0.939,-3.56511 -1.32222,0.7144 -2.80339,3.07421 -3.29251,5.24416 l -0.88992,3.94606 -0.98917,-3.73135 c -0.54404,-2.0521 -2.05707,-4.70677 -3.3623,-5.89928 -2.34617,-2.14357 -2.31526,-2.24227 2.66541,-8.68044 2.77081,-3.58166 5.36695,-6.51254 5.77035,-6.51254 0.40336,0 1.63743,2.0432 2.74174,4.54061 1.10435,2.4974 2.90356,6.17605 3.99812,8.17397 1.24742,2.27698 1.99296,6.42311 1.99687,11.1104 0.005,6.16395 -0.56369,8.30905 -3.24014,12.20812 -3.09067,4.50249 -3.19254,5.11322 -2.13104,12.68046 0.61339,4.37254 1.76469,9.17576 2.55854,10.6733 1.76016,3.54899 5.81274,13.54405 2.97515,22.0061 -0.53356,6.49061 -2.95581,10.59064 -6.8413,18.7691 -7.09182,14.92734 -12.02508,21.38462 -23.10532,30.24945 -11.89078,9.51329 -19.11934,13.04117 -30.25853,14.76689 -4.74406,0.73495 -8.79174,1.2654 -8.99522,1.17809 -0.68502,-0.29396 -14.71305,-2.1741 -20.47155,-2.74375 -5.25849,-0.52018 -10.85071,-1.84154 -15.88558,-3.61355 -6.37468,-2.24353 -11.85338,-5.21048 -14.61287,-8.19929 -4.47761,-4.84972 -7.51631,-13.17841 -7.54473,-20.68048 -0.0144,-3.817 -0.64958,-10.62804 -1.41123,-15.13574 -1.0243,-6.06214 -1.05796,-14.58073 -0.12978,-32.72233 l 1.25418,-24.52635 4.36892,-9.28599 c 4.24048,-9.01463 4.42117,-9.20959 6.19458,-6.65348 2.75219,3.96687 4.50758,3.28149 3.7451,-1.46215 -0.83741,-5.20963 0.75597,-6.77917 6.00589,-5.91909 3.63451,0.59545 4.12168,0.3854 3.74292,-1.613 -0.29667,-1.56525 -1.76898,-2.50398 -4.61975,-2.94524 l -4.18461,-0.64738 4.79751,-1.69338 c 2.63869,-0.93109 7.10411,-1.78281 9.92332,-1.89266 3.3887,-0.13207 6.05478,-1.08053 7.86646,-2.79879 3.09013,-2.93077 17.15067,-8.08898 25.49372,-9.35208 1.17439,-0.17779 2.51248,-0.25961 3.85635,-0.25322 z m -5.01891,3.40545 c -3.13145,-0.0283 -5.53914,1.72104 -5.53914,5.04047 0,2.87362 1.03818,2.74907 4.5456,-0.545 l 2.90098,-2.72502 3.02639,3.93615 c 3.24548,4.21898 4.47711,4.75155 5.83905,2.52684 0.50189,-0.81983 -0.72809,-2.843 -2.94569,-4.84339 -2.51759,-2.27096 -5.39164,-3.36801 -7.82719,-3.39005 z m -66.60476,8.80267 c 2.14921,-0.0893 4.98334,1.0036 8.89379,3.26232 l 6.5861,3.80402 -2.93152,3.88 c -1.61222,2.13396 -4.62916,7.54376 -6.70497,12.02205 -2.07581,4.47828 -4.02381,8.14205 -4.32856,8.14205 -1.10418,0 -5.38826,-11.10985 -6.67881,-17.32126 -1.06094,-5.10647 -0.98498,-7.07164 0.38171,-9.95874 1.16914,-2.46978 2.63303,-3.74114 4.78226,-3.83044 z m -14.26716,35.72812 4.3831,0.80815 c 8.19644,1.51107 9.23055,2.91074 8.78147,11.88221 -0.44216,8.83341 -1.74684,9.53134 -5.5773,2.98487 -1.2384,-2.11647 -2.46175,-3.21305 -2.71776,-2.43765 -0.6848,2.07403 3.24308,9.81924 5.95029,11.73357 1.40553,0.99389 2.60428,3.63834 3.00022,6.61824 0.80593,6.06618 -0.46155,6.30163 -6.25783,1.16378 -6.22415,-5.51712 -6.95009,-7.59555 -7.27208,-20.81921 z m 121.69612,17.63065 c -5.81041,0.0287 -12.47987,2.58567 -17.14522,7.28215 -9.28735,9.34929 -11.85433,28.52187 -5.47043,40.85888 1.84697,3.5693 4.6808,7.16544 6.29709,7.9912 3.75348,1.91768 4.27777,1.90382 11.62683,-0.29947 7.16353,-2.14769 10.77511,-5.96466 15.84196,-16.74432 6.20394,-13.19884 5.64917,-27.80006 -1.34689,-35.4716 -2.25482,-2.47253 -5.8278,-3.63645 -9.80334,-3.61684 z m -0.26283,1.95762 c 1.04722,-0.0265 3.40468,1.41257 6.60245,4.3292 7.8692,7.17731 8.94239,15.68599 3.55861,28.20486 -2.26781,5.2733 -8.00569,12.73694 -12.01289,15.62568 -2.82775,2.0385 -10.60932,2.68681 -13.94107,1.16157 -3.0447,-1.39384 -7.51964,-9.87536 -7.51964,-14.2527 0,-2.69896 0.22938,-2.58599 2.95114,1.45774 1.62289,2.41111 4.67212,4.98933 6.77586,5.72972 15.83242,5.57197 23.95136,-6.83609 18.44303,-28.18614 -0.99829,-3.86937 -2.61716,-8.19175 -3.59786,-9.6053 -2.04377,-2.94579 -2.30687,-4.43817 -1.25963,-4.46463 z m -84.98454,20.60999 c -1.76897,-0.0342 -3.45742,0.20315 -4.84006,0.73879 -3.34817,1.29711 -5.78962,7.80753 -5.68636,15.16436 0.18251,12.99526 7.32059,21.82805 21.65811,26.80545 0.056,0.0195 0.10959,0.0401 0.16578,0.0595 4.05935,1.39524 8.43646,0.65323 11.292,-1.91467 l 3.02968,-2.72504 -1.74278,-8.16186 c -3.04418,-14.25891 -7.95105,-23.06073 -15.41663,-27.65655 -2.34162,-1.44148 -5.51146,-2.25292 -8.45974,-2.30994 z m -4.16498,3.70715 c 0.60366,-0.0702 0.81763,0.99308 0.19849,3.2414 -1.3659,4.96011 0.31697,16.01582 2.06776,20.28301 2.39699,5.84215 10.03782,9.21701 16.60429,7.17975 0.88759,-0.27537 1.75639,-0.64579 2.58907,-1.12634 4.03213,-2.32701 4.79753,-2.23743 4.79753,0.56263 0,1.30851 -1.04372,2.94395 -2.31969,3.63335 -1.99985,1.08052 -2.80501,1.28897 -6.69625,0.71346 -0.98574,-0.14578 -2.11671,-0.32852 -3.57714,-0.57583 -6.49831,-1.10044 -10.91105,-4.27899 -14.48418,-10.43437 -3.38053,-5.8236 -4.09411,-14.11744 -1.71442,-19.91747 0.93767,-2.28536 1.93086,-3.48935 2.53454,-3.55959 z m 107.18903,26.47184 c 0.4432,-0.0498 0.81998,0.33569 1.30435,1.03385 4.4741,6.44875 13.11797,40.82632 14.91278,50.81872 3.07051,5.39452 4.73485,6.47957 8.27433,14.986 3.50877,6.23774 9.95577,16.78978 14.32714,23.44953 5.32137,8.25019 10.79085,18.3537 15.2116,26.17237 3.25508,9.80766 12.86152,19.90475 12.04016,32.10026 4.31598,23.09901 1.24162,43.1878 -8.86871,57.95993 -5.7535,8.40644 -8.67867,10.8589 -17.28809,14.49054 l -4.48562,1.89156 4.78334,-6.36941 c 6.48028,-8.62912 6.06057,-11.09283 -0.70888,-4.16076 -3.11531,3.19019 -9.34399,7.55184 -14.35766,10.05343 -7.90969,3.94654 -10.04496,4.46387 -19.98514,4.84009 -6.12095,0.23164 -11.9384,0.0782 -12.92791,-0.34023 -10.86507,-4.5943 -19.37652,-24.03599 -19.37875,-44.26434 -9e-4,-9.8573 0.44969,-12.3585 3.4201,-18.986 1.01269,-2.25953 1.91417,-5.39237 2.00341,-6.96175 0.0893,-1.56937 0.56641,-2.85339 1.06115,-2.85385 0.49477,-4.7e-4 0.89974,-2.42089 0.89974,-5.37848 0,-2.95759 0.53999,-5.71449 1.19966,-6.12608 2.38225,-1.48639 1.34171,-9.73497 -1.577,-12.5032 -3.30535,-3.13489 -5.9463,-3.34012 -8.5917,-0.66942 -1.79238,1.80953 -1.88102,1.69118 -1.1353,-1.5139 1.14385,-4.91623 4.03097,-10.98687 6.0168,-12.65073 1.37055,-1.14834 1.69418,-0.87277 1.71551,1.45885 0.0348,3.78417 3.8436,12.04604 6.7006,14.53459 4.28867,3.73555 7.53542,3.93453 10.77834,0.66061 4.02186,-4.0603 5.28742,-9.00238 3.62732,-14.17015 -2.40924,-7.49984 -10.82681,-9.17949 -16.45925,-3.28434 l -2.58907,2.70962 0.72524,-4.81477 c 0.91793,-6.09288 3.92984,-10.21685 9.89061,-13.54585 7.61104,-4.25069 15.15044,-4.18425 17.96971,0.15965 1.76177,2.71453 1.77193,3.46682 0.10142,8.17397 -3.23172,9.10649 -0.99437,13.70275 1.59445,16.93039 1.84834,2.3044 1.06169,5.13155 6.99725,5.46658 6.71289,0.37886 7.47651,0.16295 9.29515,-2.63915 5.8386,-8.99603 -9.51745,-22.47519 -15.60641,-13.6989 -1.14686,1.65304 -1.8671,2.03238 -1.8671,0.98321 0,-2.68596 5.06884,-9.46541 8.13038,-10.87368 8.80546,-4.0504 19.34301,1.79266 24.99314,13.85855 3.83209,8.18344 3.7727,18.58385 -0.19411,33.99731 -4.05481,15.75527 -3.21526,19.92779 1.19964,5.96092 4.38629,-13.87631 5.46675,-30.18966 2.58035,-38.96291 -3.14301,-9.5532 -7.6694,-14.02709 -18.67752,-18.46191 -9.72226,-1.56548 -9.90162,3.60805 -17.08742,-4.55053 -12.95567,-5.8106 -23.71241,-3.94203 -30.31306,11.42199 -3.05451,6.35351 -9.76711,6.15996 -12.00635,18.27254 -0.78434,10.47181 0.68316,16.87994 4.74954,20.73663 3.19005,3.02554 3.36306,6.12648 0.71106,12.75532 -0.79929,1.99793 -1.74122,10.4444 -2.09285,18.7691 -0.71367,16.89603 0.87739,26.58166 6.19239,37.70446 1.666,3.48648 3.02858,6.46496 3.02858,6.61823 0,1.41315 -12.78692,4.6602 -18.0755,4.59017 -7.4301,-0.0984 -21.91802,-5.99456 -26.07719,-10.61275 -5.39419,-5.98952 -6.13984,-26.84424 -1.84529,-51.62025 0.98122,-5.6608 2.01982,-12.7178 2.3077,-15.68295 1.20432,-12.40513 7.09914,-29.19262 16.39163,-46.67667 10.41735,-19.60057 16.68161,-33.29489 16.2095,-35.43525 -0.28907,-1.31045 -1.89406,1.02267 -4.26423,6.19874 -5.02044,10.96396 -15.75717,29.84207 -16.97291,29.84207 -2.05208,0 -3.81336,-3.69723 -5.10834,-10.72724 -1.56361,-8.48827 -4.01596,-8.78777 -2.70468,-0.33031 0.47827,3.08464 1.02999,7.44175 1.22583,9.68237 0.19584,2.24061 0.96314,5.55496 1.70569,7.36474 1.09579,2.67077 0.91301,4.4116 -0.96954,9.24526 -1.27563,3.27536 -3.49318,10.31439 -4.92839,15.6422 -1.43522,5.32782 -2.92947,10.5045 -3.32086,11.50347 -0.3914,0.99897 -0.91209,2.36073 -1.15604,3.02671 -0.40475,1.10498 -2.93687,15.74756 -6.49121,37.5371 -0.76044,4.66184 -1.77392,10.80421 -2.25317,13.64936 -0.55699,3.30668 -0.35645,6.17562 0.55621,7.95157 0.78527,1.52809 1.76728,4.14416 2.18228,5.81339 0.41498,1.66924 2.06526,4.98528 3.66767,7.36913 l 2.91406,4.33361 -3.78327,-1.0834 c -5.72625,-1.64066 -10.37918,-3.72082 -10.37918,-4.6397 0,0 -4.74378,-2.48848 -9.97021,-11.93836 -1.83578,-3.31929 -3.7305,-7.4898 -5.50095,-12.7234 -2.14132,-6.59378 -3.03618,-9.94822 -5.56203,-20.84122 -6.80615,-29.35202 0.0547,-66.2298 17.61308,-94.67568 2.80006,-4.53628 6.87367,-11.71897 9.05303,-15.9615 l 3.96213,-7.71376 0,8.55054 c 0,5.18834 0.54815,8.89272 1.39377,9.42033 1.04711,0.65335 1.16924,-2.5655 0.48968,-12.9458 -1.50959,-23.05975 -1.3689,-23.53763 6.7704,-22.88252 8.20671,0.66054 14.40618,0.52504 19.13339,-0.41838 9.51977,-1.89995 33.01377,-20.45381 39.97136,-31.56627 1.91616,-3.06043 2.83958,-4.35081 3.57824,-4.43381 z m -47.30125,13.00525 c -0.86962,-0.0186 -1.87638,0.12642 -3.14417,0.41509 -4.63041,1.05431 -10.09673,5.41781 -10.09673,8.05947 0,2.37867 0.99943,1.97626 4.08755,-1.64822 2.37756,-2.79049 3.68073,-3.2467 9.15444,-3.20177 6.26957,0.0514 6.33739,0.0151 3.78547,-2.07102 -1.26728,-1.03598 -2.33719,-1.52262 -3.78656,-1.55355 z m 70.86352,7.16984 c 0.40037,-0.003 0.84936,0.005 1.35344,0.021 5.8099,0.17841 24.40812,9.2828 34.13777,16.71129 9.54374,7.28656 17.77232,18.37519 26.4349,35.62132 6.73229,13.40313 6.89305,13.95214 6.86966,23.6114 -0.0183,7.57712 -0.62588,11.16345 -2.5978,15.33831 l -2.57379,5.44896 -0.14069,-11.50346 c -0.12051,-9.841 -0.70324,-12.99071 -4.02974,-21.79581 -5.35329,-14.16994 -14.13986,-29.98067 -19.67868,-35.40993 -6.47323,-6.34517 -26.6098,-17.05271 -28.72952,-15.27666 -1.70339,1.42722 -2.16287,6.12146 -0.73942,7.5585 1.63259,1.64823 3.83535,12.27845 3.88796,18.76801 0.0374,4.60391 -0.69644,7.74055 -2.49854,10.6843 -2.9017,4.7399 -2.95806,4.70663 -8.55462,-4.9689 -4.02089,-6.95143 -4.07155,-7.20142 -1.90964,-9.38401 3.33424,-3.36612 2.81217,-10.76876 -1.45048,-20.57368 -2.01923,-4.6446 -3.50418,-9.91226 -3.29905,-11.70605 0.29261,-2.55863 0.71572,-3.12566 3.51824,-3.14451 z m -63.64706,1.75394 c -1.04434,0.0141 -2.46583,1.56743 -2.46583,3.04432 0,0.95965 0.48188,1.74512 1.07097,1.74512 1.21582,0 2.87159,-3.68836 2.03505,-4.5329 -0.17873,-0.18044 -0.39918,-0.25979 -0.64019,-0.25654 z m -17.80612,4.91496 c -0.47471,-5.7e-4 -0.89473,0.11824 -1.16912,0.39527 -0.44719,0.45148 -0.0183,1.32814 0.95208,1.9477 2.32175,1.48241 3.56298,1.45313 3.56298,-0.0848 0,-1.17055 -1.92182,-2.2561 -3.34594,-2.2582 z m 96.26782,9.56016 c 2.88779,0 18.87053,9.90451 23.41941,14.51255 5.92597,6.00304 16.21269,24.90663 20.35921,37.4138 2.87471,8.67098 3.41646,22.21569 1.2182,30.45753 -1.17258,4.39621 -1.67896,4.93725 -3.96431,4.23672 -1.44116,-0.44176 -4.83562,-1.10251 -7.54364,-1.46875 -3.92682,-0.53109 -5.3842,-0.17465 -7.19682,1.76273 -2.25485,2.41005 -2.29906,2.37052 -5.58603,-5.00853 -5.17038,-11.52849 -11.5105,-21.28762 -19.54018,-31.82612 l -4.04065,-6.22627 2.29789,-4.80265 c 1.8804,-3.92933 2.22574,-6.87003 1.89545,-16.1751 -0.22203,-6.25492 -0.80756,-13.96079 -1.30108,-17.12418 -0.49347,-3.16339 -0.50152,-5.75173 -0.0174,-5.75173 z m -137.03968,2.49271 c 1.29984,0.0792 2.40995,0.6166 3.2707,1.66365 1.05639,1.28505 1.09527,2.92928 0.15268,6.35619 -0.69943,2.54284 -1.27483,7.50888 -1.27818,11.03552 -0.005,5.19877 0.55114,6.97428 2.93805,9.384 1.6192,1.63467 4.04803,2.97276 5.39736,2.97276 2.86338,0 3.02176,0.95605 0.67726,4.08149 -2.136,2.8475 -8.82395,1.90281 -12.05652,-1.70328 -2.42498,-2.70518 -2.92923,-11.17875 -1.24,-20.84453 0.9558,-5.4691 0.87203,-5.75063 -1.71442,-5.75063 -1.52832,0 -3.18487,0.88101 -4.94475,2.57639 -3.37598,3.25226 -7.13965,9.55544 -11.15678,18.7669 -3.15796,7.24136 -7.36905,16.81006 -9.35839,21.26402 -1.98932,4.45393 -4.83517,9.25318 -6.32435,10.66559 l -2.70794,2.56867 -0.75687,-3.04322 c -0.82575,-3.32149 3.5001,-15.45495 10.52314,-29.51506 7.04231,-14.09869 16.28734,-25.07609 23.33652,-28.96126 1.94506,-1.072 3.72457,-1.6097 5.24249,-1.5172 z m -3.5586,9.01075 -1.04916,4.23783 c -1.57264,6.35105 -1.26542,17.04142 0.61946,21.55249 0.92905,2.22348 3.38059,4.90776 5.52931,6.05451 l 3.85962,2.06002 -10.02802,15.13572 c -5.86562,8.85341 -10.91699,17.99539 -12.16995,22.02482 l -2.14191,6.88798 -2.15066,-6.11176 c -1.18272,-3.36185 -4.22607,-8.38705 -6.76386,-11.16655 l -4.59031,-5.02727 -0.024,-0.0264 9.29186,-21.86958 c 3.11463,-7.33049 5.47462,-12.72736 7.43458,-16.87315 3.90607,-8.26234 6.1954,-11.46307 9.50562,-14.45639 l 2.67741,-2.42226 z m 7.48801,41.77493 c 0.35201,0 -0.24208,2.0432 -1.32071,4.54062 -3.72329,8.62091 -7.43147,21.52244 -8.78801,30.57424 -0.74855,4.99482 -1.75533,12.351 -2.2368,16.34686 l -0.87575,7.26563 -1.58682,-4.23783 c -0.87326,-2.33091 -2.34956,-5.68512 -3.2805,-7.4528 -3.29267,-7.31215 1.70381,-17.89689 5.50314,-26.35404 0,-2.13408 11.28687,-20.68268 12.58545,-20.68268 z m -46.18011,14.53127 c 1.88569,0 5.2075,1.31312 8.21871,3.02781 2.18792,1.24588 4.21311,2.70198 5.39953,4.02644 2.27634,2.54114 11.58102,24.79187 11.58102,27.69397 0,2.1274 5.49734,10.89486 7.18811,11.46383 0.75128,0.25284 1.55166,4.83712 1.87146,10.71623 0.3074,5.65103 0.83063,12.87791 1.16257,16.0606 0.89633,8.59453 6.59123,25.40204 11.06189,33.0218 0.27677,0.47171 0.54983,0.91644 0.81578,1.31353 l 4.16389,6.21747 -7.02343,2.58519 c -2.82465,1.03975 -6.65805,2.36349 -9.77063,3.38564 -1.14453,0.37585 -2.20357,0.71575 -3.0624,0.9788 -6.24852,1.9139 -17.14824,2.15026 -25.18508,0.54502 -21.96138,-4.38645 -37.87373,-40.67413 -35.40504,-57.28832 0,0 1.51516,-10.39138 1.95216,-17.11757 0.21103,-3.24815 -1.16711,-5.56107 -1.46903,-6.75255 l 6.28618,1.89704 c 7.87798,-0.63559 10.04328,-2.71731 10.04328,-2.71731 1.10837,-3.75963 -3.42816,-8.80598 -4.74626,-10.50374 -2.05656,-2.64888 -3.42232,-3.64935 -6.89692,-2.88798 -3.05014,0.66837 -3.76192,0.98953 -4.3602,6.07983 -0.57471,4.88993 -0.23332,5.4756 -1.69478,3.99671 -0.93245,-0.94358 -1.93664,-4.65118 -2.23135,-8.23894 -0.79714,-9.70423 3.43866,-16.62923 11.62028,-18.9981 4.48447,-1.29844 5.9368,0.59537 3.69711,4.82026 -2.29606,4.33125 0.58222,13.72229 5.55658,18.13161 1.87572,1.66266 3.84668,2.74766 5.76705,3.32069 6.44253,1.92238 12.30453,-1.98115 11.99545,-9.71212 -0.16779,-4.19674 -1.55137,-7.64033 -3.5706,-9.84312 -2.58973,-2.82511 -6.2258,-3.60909 -9.68448,-1.32124 -2.87198,1.89981 -3.09573,2.61829 -2.5618,8.22794 0.56179,5.90271 0.51757,6.01582 -1.12005,2.86045 -2.78562,-5.3674 -3.40684,-14.48186 -1.11786,-16.3997 1.06446,-0.89187 1.93582,-2.35871 1.93582,-3.25903 0,-1.95883 6.06219,-5.33114 9.58304,-5.33114 z m 157.53303,8.60118 c 1.70157,-0.0484 3.57353,0.76449 5.20868,2.59841 3.34326,3.74968 4.20181,6.71578 2.74066,9.47208 -2.64687,4.99302 -13.14712,0.6868 -13.14712,-5.39169 0,-4.12508 2.36183,-6.59812 5.19778,-6.6788 z m -26.60831,0.0165 c 1.39247,0.0143 2.73557,0.87354 4.30566,2.58189 3.67579,3.99951 4.019,9.10307 0.82776,12.32483 -2.74558,2.77186 -5.05115,2.35337 -9.00285,-1.63612 -4.22862,-4.26904 -4.43138,-7.26919 -0.72961,-10.7801 1.76505,-1.67403 3.20657,-2.50483 4.59904,-2.4905 z m -133.92494,6.71292 c 1.66017,0.0719 3.37312,1.27962 4.6143,3.0278 1.21908,1.71707 1.98286,3.9553 1.77003,6.18113 -0.30353,3.17449 -0.95339,3.98335 -3.43537,4.27528 -0.95045,0.11179 -1.84605,-0.0483 -2.66432,-0.40518 -4.55864,-1.98818 -6.68063,-10.17857 -2.06232,-12.67385 0.56687,-0.30628 1.16827,-0.43155 1.77768,-0.40518 z m -32.43863,4.5307 c 0.65982,0.12064 0.66854,1.58491 0.66854,5.45666 0,3.43251 0.6569,8.16202 1.71768,10.39364 l 2.11793,4.45472 -3.68403,-0.96449 c -4.21037,-0.85012 -6.6577,1.98104 -6.50212,7.52218 0.0638,2.27213 2.05431,3.72915 1.86492,3.72915 -1.35193,0 -6.305477,-8.80139 -6.289454,-13.09993 0.02215,-5.91021 3.821434,-13.66681 8.075844,-16.4867 1.00454,-0.6658 1.6348,-1.07761 2.03069,-1.00523 z m 150.75062,6.65568 c 0.9008,-0.0231 2.00081,0.39653 3.22381,1.39719 1.95561,1.60011 2.66876,3.27441 2.3993,5.63612 -0.48852,4.28127 -3.74932,4.98909 -6.26656,1.36086 -2.96568,-4.27457 -2.05894,-8.32475 0.64345,-8.39417 z m -137.91215,1.11313 c 1.21831,-0.0309 2.56033,0.44306 3.91414,1.78474 2.31321,2.29252 4.71301,7.27075 4.0014,9.14288 -0.55753,1.16053 -7.19842,2.24198 -9.05412,0.42721 -2.62753,-1.85799 -3.54599,-9.21366 -1.4254,-10.53678 0.74437,-0.46444 1.61641,-0.79405 2.56398,-0.81805 z m 168.96791,1.58986 c -3.4209,-0.0715 -6.99516,0.61217 -10.44462,2.19324 -10.70932,4.90868 -15.58077,20.38228 -8.62769,27.40551 1.73036,1.7478 4.96915,3.61214 7.19683,4.14314 6.20951,1.48008 8.47936,1.3731 15.49408,-0.72998 8.99996,-2.69825 15.54355,-9.34216 15.53769,-15.77432 -0.01,-10.00737 -8.89359,-17.02311 -19.15629,-17.23759 z m -1.02844,2.55217 c 0.81389,0.0134 1.64258,0.0853 2.48547,0.22131 17.39722,2.80851 20.73118,18.39199 5.6013,26.18447 -5.63881,2.90422 -13.54061,3.89784 -18.57937,2.33637 -16.12406,-4.99672 -6.05632,-29.01492 10.4926,-28.74215 z m -181.31124,9.75065 c 0.53974,-0.0318 1.16433,0.18884 1.99469,0.63749 3.74851,2.02533 5.47072,4.72875 4.65794,7.31408 -1.04232,3.31543 -3.37595,3.89679 -6.25129,1.55794 -3.31522,-2.69666 -4.14021,-5.57059 -2.32079,-8.08259 0.67184,-0.92756 1.22548,-1.38601 1.91945,-1.42692 z m 247.38053,30.93538 4.34711,4.13983 c 6.1158,5.82413 18.00637,12.98777 31.33275,18.87701 16.23656,7.17531 17.39062,7.87334 17.39062,10.51695 0,5.11799 -19.79408,12.33349 -41.37932,15.08398 -11.02092,1.40387 -23.7609,1.40889 -26.98566,0.01 -1.31933,-0.57237 -3.96339,-1.0784 -5.87503,-1.12525 l -3.47572,-0.0848 4.0461,-2.75366 c 8.87459,-6.03775 16.77916,-22.00117 19.81827,-40.0265 l 0.78088,-4.6375 z"
                                  style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;baseline-shift:baseline;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
                                  id="path3431" />
                        </g>
                    </svg>
                </div>-->
            </a>
        </div>

        <!-- Navigation starts -->
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link" href="https://www.owasp.org/index.php/OWASP_Threat_Dragon" target="_blank">
                        Threat Dragon project page
                    </a>
                </li>
                <li>
                    <a class="navbar-link" href="https://www.owasp.org" target="_blank">
                        <div>
                            <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                                 xmlns:cc="http://creativecommons.org/ns#"
                                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                 xmlns:svg="http://www.w3.org/2000/svg"
                                 xmlns="http://www.w3.org/2000/svg"
                                 version="1.1"
                                 id="svg4185"
                                 viewBox="0 0 1666.5741 510.50331"
                                 height="25px"
                                 width="82px">
                                <defs id="defs4187" />
                                <metadata id="metadata4190">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                            <dc:title></dc:title>
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <g transform="translate(-46.777852,-288.4997)"
                                   id="layer1">
                                    <path id="path4215"
                                          d="m 278.125,798.40643 c -51.84067,-4.86516 -100.85267,-25.41155 -141.25,-59.21359 -7.24254,-6.06011 -24.34475,-23.16265 -30.40149,-30.40208 -32.498186,-38.84399 -51.469146,-82.35022 -58.458166,-134.0625 -1.64999,-12.20837 -1.64999,-49.66663 0,-61.875 5.40432,-39.987 17.4235,-73.63539 37.83736,-105.92789 10.11659,-16.00336 20.792956,-29.2257 35.362076,-43.79482 20.68993,-20.68993 40.44831,-35.01188 65.97272,-47.82065 28.99671,-14.55125 59.53413,-23.23162 92.1875,-26.20464 8.86429,-0.80708 36.12885,-0.8075 45,-7e-4 51.63149,4.69572 97.46124,23.22347 138.93184,56.16649 8.84706,7.02783 30.2223,28.48074 37.75753,37.89471 47.49079,59.33161 66.25749,134.90525 51.9927,209.375 -7.79282,40.68265 -25.49217,78.76713 -51.9927,111.875 -7.53523,9.41397 -28.91047,30.86688 -37.75753,37.89472 -41.4706,32.94301 -87.30035,51.47077 -138.93184,56.16648 -8.0812,0.73496 -38.15584,0.68909 -46.25,-0.0705 z m 35.625,-39.30644 c 62.69347,-3.91108 118.25949,-32.66232 157.02134,-81.24673 25.57584,-32.05697 40.41109,-68.13029 45.88037,-111.5625 1.02902,-8.17158 1.02902,-36.82842 0,-45 -4.17339,-33.1414 -13.34166,-60.77296 -28.77966,-86.73681 -49.08306,-82.5486 -144.84545,-122.91884 -237.50804,-100.1255 -30.39664,7.47704 -58.43095,21.35085 -83.48901,41.31765 -8.83159,7.03719 -26.00747,24.21307 -33.04468,33.04466 -26.65842,33.45598 -42.127646,71.44747 -46.697986,114.6875 -0.97712,9.24452 -0.97712,31.38048 0,40.625 4.57034,43.24002 20.039566,81.23152 46.697986,114.6875 7.03721,8.83159 24.21309,26.00747 33.04468,33.04466 36.35656,28.96967 79.98744,45.41571 125.9375,47.47034 9.21603,0.41209 11.37322,0.39089 20.9375,-0.20577 z m 65.7271,-37.68441 c -10.86864,-11.15679 -32.33536,-49.08423 -36.95288,-65.2884 -4.2034,-14.75093 -7.04094,-34.94966 -6.28521,-44.74066 0.57505,-7.45021 1.55719,-10.41409 5.63407,-17.00244 7.69372,-12.43327 9.21042,-16.6603 9.96799,-27.78082 0.22247,-3.26562 1.3758,-15.58619 2.56295,-27.37902 1.18716,-11.79285 2.15847,-21.69607 2.15847,-22.00717 0,-0.3111 -1.19532,-0.88237 -2.65625,-1.2695 -1.46094,-0.38712 -4.36477,-1.60496 -6.45295,-2.70631 l -3.79671,-2.00244 1.10875,2.91798 c 4.34016,11.42237 -0.13105,23.45686 -15.561,41.88327 -7.72808,9.22885 -27.44935,29.17803 -34.82933,35.23184 -17.02055,13.96198 -41.55268,28.81836 -71.25,43.1482 -16.315,7.87247 -23.96167,11.24232 -24.43541,10.76858 -0.96068,-0.96068 18.23103,-40.21925 27.79634,-56.86021 13.62258,-23.69949 23.75388,-37.35116 39.10354,-52.69108 22.95078,-22.93622 36.71304,-33.52637 47.80521,-36.78642 4.85579,-1.42715 12.75937,-1.29741 16.20482,0.26601 1.49848,0.67994 2.81811,1.23627 2.93251,1.23627 0.1144,0 -0.47547,-1.19531 -1.31083,-2.65625 -0.83537,-1.46094 -2.11199,-4.4272 -2.83694,-6.5917 l -1.31809,-3.93544 -2.59558,0.35173 c -4.1145,0.55758 -39.27721,3.98235 -48.11772,4.68657 -10.18822,0.81156 -14.25664,2.20583 -24.26127,8.31444 -11.12615,6.79337 -11.79806,6.98024 -24.90408,6.92625 -11.87819,-0.0489 -18.64222,-0.98228 -34.05848,-4.69959 -11.61779,-2.80139 -20.66238,-6.71423 -38.2963,-16.56759 -11.02521,-6.16058 -19.23197,-11.34653 -26.16184,-16.53196 -7.02657,-5.25778 -9.60839,-8.09104 -9.60839,-10.54412 0,-2.05597 1.07582,-2.51123 8.75,-3.70272 14.41511,-2.23808 57.71548,-2.44491 83.75001,-0.40004 28.11934,2.20863 66.23462,7.62711 105.20836,14.95646 11.11354,2.09 11.14725,2.09234 11.62377,0.80419 0.42905,-1.15983 -0.29501,-1.66687 -7.08337,-4.96035 -4.1587,-2.01766 -8.8724,-4.23387 -10.47489,-4.92492 -2.12914,-0.91817 -3.98647,-2.54629 -6.89824,-6.04696 -7.30967,-8.78804 -11.75063,-15.07477 -11.75063,-16.63446 0,-0.18895 0.49218,-0.34172 1.09375,-0.3395 1.57105,0.006 6.35791,4.29805 12.48746,11.1972 5.19166,5.8435 5.43882,6.02719 10.36365,7.70233 l 5.04515,1.71607 -2.02688,-2.09122 c -2.237,-2.30799 -2.66062,-3.61468 -6.02409,-18.5822 -2.87098,-12.77589 -2.88098,-17.61753 -0.028,-13.5443 0.54007,0.77106 2.87633,7.24419 5.19169,14.38474 l 4.20975,12.98282 5.46875,2.83218 c 3.00781,1.5577 5.46875,2.62365 5.46875,2.36876 0,-0.25488 -1.29499,-3.77473 -2.87776,-7.82189 l -2.87776,-7.35849 1.01336,-7.98876 c 1.85268,-14.60547 3.63549,-21.50247 5.15981,-19.96117 0.73472,0.74292 0.52884,12.03937 -0.35694,19.5854 l -0.74693,6.363 5.34524,8.20381 c 2.93989,4.51209 5.60749,8.04173 5.92801,7.84364 2.22647,-1.37604 13.07324,-1.39803 18.27099,-0.0371 l 1.67054,0.43741 -1.27042,-3.9619 c -0.83234,-2.59573 -1.2935,-5.81281 -1.33737,-9.32952 -0.0607,-4.86848 0.12263,-5.75272 1.97184,-9.509 2.1427,-4.35245 5.23138,-7.44275 8.69314,-8.69773 1.42997,-0.5184 2.22111,-1.33297 2.69797,-2.77787 1.31249,-3.97688 6.77272,-6.91169 11.28789,-6.0671 4.2745,0.79957 8.58063,4.8029 8.73213,8.11809 0.13673,2.99223 6.19625,-12.43286 6.19625,-15.77317 0,-2.79128 -1.8942,-7.65308 -5.3252,-13.66811 -3.03882,-5.32746 -3.34093,-7.38592 -1.13025,-7.70077 1.10183,-0.15692 1.8596,0.66591 4.02908,4.375 7.8937,13.49569 8.14164,17.35626 2.01644,31.39846 -1.7814,4.08392 -2.00451,5.04301 -1.26893,5.45466 5.09549,2.85158 12.8328,10.43556 15.83966,15.52577 1.31173,2.22059 0.83541,2.28507 9.2767,-1.25601 10.87898,-4.5637 15.45295,-4.12489 27.34375,2.62326 4.5182,2.56413 5.46875,3.367 5.46875,4.61911 0,2.1642 -2.32286,1.99753 -6.30443,-0.45235 -4.68602,-2.88334 -12.46809,-6.14072 -14.69148,-6.14949 -2.1344,-0.008 -6.5942,1.4341 -12.66535,4.09661 l -3.97376,1.7427 2.6213,1.23371 c 8.14378,3.83287 8.03771,16.43305 -0.16261,19.31873 -1.07422,0.37802 -2.07129,1.40755 -2.6086,2.69352 -1.36198,3.25968 -5.67982,7.50066 -9.26067,9.09581 -4.43586,1.97604 -13.40674,2.04455 -18.76971,0.14337 -2.74333,-0.97252 -3.54751,-1.07682 -3.29844,-0.42778 0.18114,0.47207 0.6531,2.71736 1.04878,4.98955 0.66182,3.80046 0.55655,6.87513 -0.43765,12.78204 l -0.37675,2.2384 7.965,5.17663 7.96499,5.17664 6.63094,-0.68155 c 6.44032,-0.66196 12.29846,-0.93017 17.09969,-0.7829 3.25055,0.0997 3.12087,1.68945 -0.211,2.58663 -3.61305,0.97289 -11.02187,2.21604 -18.79063,3.15294 l -6.65788,0.80294 -6.77962,-2.58955 c -3.72879,-1.42425 -7.26246,-2.76602 -7.8526,-2.9817 -0.78257,-0.28602 -0.27509,1.14723 1.875,5.29551 2.72674,5.26084 3.13288,5.73854 5.4119,6.36534 6.22488,1.71208 23.16582,7.50388 24.49377,8.37399 5.63771,3.69396 -4.48921,2.657 -24.19903,-2.47791 -4.06512,-1.05907 -6.24121,-1.98938 -7.52071,-3.21522 -0.99023,-0.94873 -1.80043,-1.58097 -1.80043,-1.40499 0,0.17597 0.67585,2.30704 1.50188,4.73569 1.22192,3.59257 2.0666,4.9178 4.53125,7.10907 7.13942,6.34752 13.96687,13.62256 13.96687,14.88249 0,0.72141 -0.29115,1.31165 -0.64699,1.31165 -1.2732,0 -7.90113,-4.75121 -16.02161,-11.48504 -4.40469,-3.65253 -4.56768,-3.8954 -9.5572,-14.24043 -4.83882,-10.03257 -6.35535,-12.04401 -7.27459,-9.64854 -0.18488,0.48179 0.79793,7.02085 2.18402,14.53125 8.81665,47.77224 13.25856,81.44557 15.11614,114.59276 0.97442,17.38777 0.4285,59.82632 -0.88439,68.75 -1.34592,9.14823 -1.94089,10.625 -4.28067,10.625 -1.43313,0 -2.61925,-0.77117 -5.0951,-3.31268 z m 1020.8354,-73.59662 c -40.4992,-2.45539 -59.8943,-13.66813 -65.1087,-37.64067 -1.0053,-4.62204 -1.3198,-9.00959 -1.5885,-22.16878 l -0.3351,-16.40625 13.5161,0 13.5162,0 0.022,12.34375 c 0.014,7.73091 0.3489,14.17901 0.8971,17.25482 3.4043,19.10041 17.8569,25.60477 56.8936,25.60477 37.9159,0 52.6065,-6.2214 56.5609,-23.95334 1.137,-5.09836 1.5552,-22.10844 0.6701,-27.25382 -1.3739,-7.98604 -5.5425,-14.47223 -11.5724,-18.00599 -5.8965,-3.45554 -11.6339,-4.6905 -51.1652,-11.01313 -42.7517,-6.83772 -39.9919,-6.33556 -46.9934,-8.5505 -16.2283,-5.13392 -26.4863,-15.32578 -30.6868,-30.48906 -1.3587,-4.90491 -1.9331,-27.61608 -0.9385,-37.11436 3.009,-28.73811 17.793,-40.40077 57.2503,-45.16298 10.4577,-1.26215 44.4825,-1.09102 55.625,0.27979 27.9666,3.44058 43.1753,11.18303 50.3138,25.61374 3.6185,7.31494 4.9496,14.36243 5.4262,28.72756 l 0.3887,11.71875 -13.4445,0 -13.4444,0 -0.3651,-9.84375 c -0.4752,-12.80795 -1.7993,-17.83674 -6.157,-23.38286 -4.2614,-5.42352 -13.8634,-9.56591 -26.7802,-11.5533 -5.5918,-0.86037 -11.0725,-1.10588 -24.6875,-1.10588 -19.8162,0 -27.8747,0.87823 -37.5,4.08686 -16.3247,5.44188 -20.7018,13.88497 -20.2028,38.96925 0.2157,10.84709 0.2909,11.41276 2.0168,15.17185 2.8057,6.11081 7.6377,9.97782 15.3735,12.3033 1.8907,0.56834 20.5938,3.83085 41.5625,7.25001 43.4197,7.07999 45.5625,7.48318 52.5253,9.8832 17.2326,5.9398 27.0937,17.07982 30.0334,33.92856 0.839,4.80886 0.9587,8.64762 0.6696,21.48026 -0.3622,16.07521 -0.9483,20.77361 -3.5023,28.07506 -4.6891,13.40515 -16.0415,22.20089 -34.7935,26.95773 -15.2259,3.86238 -40.3338,5.42995 -63.995,3.99541 z m -727.18751,-0.61595 c -34.38477,-3.01318 -52.07594,-12.34014 -58.8607,-31.03193 -3.26332,-8.99036 -3.32178,-10.40157 -3.32178,-80.19282 0,-69.79125 0.0584,-71.20246 3.32178,-80.19282 6.84291,-18.85201 24.51257,-28.17132 58.94032,-31.08622 13.6045,-1.15185 46.33494,-0.46787 57.00519,1.19126 29.07512,4.52096 43.736,14.53027 48.82194,33.33195 2.37343,8.77413 2.53075,13.54525 2.53075,76.75583 0,63.33483 -0.15419,67.97136 -2.55575,76.84683 -5.19463,19.19815 -21.00975,29.47752 -51.50675,33.47788 -9.38788,1.23143 -44.04675,1.80512 -54.375,0.90004 z m 50.35968,-22.37746 c 18.05194,-3.21572 25.937,-8.9008 29.83007,-21.50725 0.89687,-2.90432 1.03662,-10.21655 1.22718,-64.21504 0.22413,-63.50159 0.0958,-67.43492 -2.41393,-74.01779 -3.73944,-9.80822 -12.57825,-15.36671 -29.11038,-18.30668 -9.12537,-1.6228 -45.29606,-1.58898 -54.18118,0.0507 -19.07379,3.51984 -27.00964,9.73797 -30.28671,23.73113 -0.94407,4.03123 -1.04923,10.52389 -1.04947,64.79267 -2.9e-4,66.51731 -0.0255,66.03335 3.84333,73.7667 2.52527,5.04772 6.23334,8.58801 11.73814,11.207 5.98804,2.84891 11.87513,4.15357 26.60577,5.89619 1.20312,0.14233 9.92187,0.17607 19.375,0.075 14.01012,-0.14981 18.52493,-0.42205 24.42218,-1.47257 z m 151.89475,22.35133 c -28.98543,-3.24003 -44.33462,-13.74003 -49.40131,-33.79418 -2.42406,-9.59455 -2.54062,-14.26291 -2.54062,-101.75481 l 0,-85.02463 13.42068,0 13.42075,0 0.19457,87.03125 c 0.18268,81.71388 0.26337,87.26036 1.32087,90.78125 4.35644,14.50473 12.94331,19.94032 34.13025,21.60497 14.69225,1.15438 29.61206,-0.72631 37.50931,-4.72818 4.00882,-2.0314 8.35338,-5.97132 10.35963,-9.3947 0.83475,-1.42439 2.14812,-4.81557 2.91869,-7.53595 l 1.40093,-4.94614 0.17907,-86.40625 0.17906,-86.40625 13.40369,0 13.40368,0 0.17907,86.40625 0.17906,86.40625 1.40094,4.94614 c 0.77056,2.72038 2.08393,6.11156 2.91868,7.53595 2.00625,3.42338 6.35082,7.3633 10.35963,9.3947 7.89725,4.00187 22.81705,5.88256 37.50925,4.72818 18.2192,-1.43147 26.8114,-5.58333 31.5236,-15.23248 4.1944,-8.58869 4.0886,-6.00377 4.0886,-99.89186 l 0,-84.29313 13.4375,0 13.4375,0 0,85.02463 c 0,56.02646 -0.2272,87.06195 -0.6661,90.99819 -1.5308,13.72832 -5.0356,22.21446 -12.0712,29.22824 -5.3954,5.37867 -9.7614,8.02398 -17.7672,10.76503 -11.2396,3.84824 -18.8043,4.81704 -37.933,4.85807 -15.01245,0.0322 -17.53033,-0.11045 -22.81251,-1.29246 -15.45163,-3.45766 -26.6845,-9.75777 -34.05307,-19.09905 l -3.1155,-3.94964 -2.99525,3.73212 c -5.78287,7.20563 -12.93731,12.23774 -22.53862,15.85275 -10.09725,3.80174 -15.23413,4.59297 -31.36006,4.83043 -7.90625,0.11642 -16.7355,-0.0522 -19.62057,-0.37468 z m 248.21518,-91.35487 0.1896,-90.15625 1.387,-5.18709 c 4.6372,-17.3412 15.2931,-26.77703 36.2034,-32.05798 13.6844,-3.45606 19.8902,-3.98914 46.4379,-3.98914 26.062,0 32.2878,0.51055 45.5335,3.73401 21.6707,5.27376 32.3508,14.59984 37.1375,32.42919 l 1.3615,5.07101 0.1855,90.15625 0.1855,90.15625 -13.1392,0 -13.1393,0 0,-40.625 0,-40.625 -58.125,0 -58.125,0 0,40.625 0,40.625 -13.1413,0 -13.1412,0 0.1896,-90.15625 z m 142.1714,-48.4375 c -0.2353,-27.30001 -0.47,-34.36298 -1.2528,-37.69963 -3.1529,-13.43909 -10.8443,-19.37988 -29.5997,-22.8625 -9.0593,-1.6822 -45.1427,-1.6822 -54.2021,0 -14.8649,2.76022 -22.4241,6.94885 -26.5666,14.72099 -3.7906,7.11201 -3.9463,8.77843 -4.2836,45.84114 l -0.3056,33.59375 58.2499,0 58.25,0 -0.2895,-33.59375 z m 278.9215,28.90625 0,-109.6875 54.968,0 c 45.038,0 56.248,0.1678 62.0537,0.92886 25.6801,3.36637 40.956,13.48708 47.7973,31.6672 3.7845,10.05674 4.0322,13.20305 3.7714,47.8944 -0.2234,29.70837 -0.2947,31.30519 -1.6247,36.38454 -5.4792,20.92418 -19.7578,32.79432 -45.2224,37.59446 -6.6751,1.25826 -9.4421,1.34476 -51.2746,1.6029 l -44.2187,0.27286 0,31.51489 0,31.51489 -13.125,0 -13.125,0 0,-109.6875 z m 107.9552,24.64001 c 11.4191,-1.27331 20.0538,-5.14125 25.6371,-11.48429 3.2706,-3.71556 5.3519,-7.91181 7.1449,-14.40572 1.315,-4.76286 1.3819,-6.18571 1.4091,-30 0.024,-21.51925 -0.1217,-25.65264 -1.0502,-29.6875 -2.4712,-10.7384 -8.3806,-18.70041 -16.8583,-22.71388 -9.5606,-4.52617 -7.9063,-4.3877 -55.3316,-4.63112 l -42.6562,-0.21894 0,56.90697 0,56.90697 37.8371,0 c 22.8527,0 40.2256,-0.26632 43.8681,-0.67249 z"
                                          style="fill:#ffffff" />
                                </g>
                            </svg>
                        </div>
                        <!--<img src="../../Content/images/owasp.png" height="25" />-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>