﻿<form name="elementPropertiesEditForm">
    <div>
        <div class="form-group">
            <label>Name</label>
            <input name="nameInput" class="form-control" type="text" ng-model="selected.element.name" ng-change="edit()" placeholder="Element name" />
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="selected.elementProperties.outOfScope" ng-change="edit()" /> Out of scope
        </label>
    </div>
    <div class="form-group">
        <label>Reason for out of scope</label>
        <textarea ng-disabled="!selected.elementProperties.outOfScope" rows="4" class="form-control" type="text" ng-model="selected.elementProperties.reasonOutOfScope" ng-change="edit()" placeholder="Reason for out of scope"></textarea>
    </div>
    <div ng-show="elementType === 'tm.Process'">
        <div class="form-group">
            <label>Privilege level</label>
            <input ng-disabled="selected.elementProperties.outOfScope" class="form-control" type="text" ng-model="selected.elementProperties.privilegeLevel" ng-change="edit()" placeholder="Privilege level" />
        </div>
    </div>
    <div ng-show="elementType === 'tm.Actor'">
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.providesAuthentication" ng-change="edit()" /> Provides authentication
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Store'">
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.isALog" ng-change="edit()" /> Is a log
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.storesCredentials" ng-change="edit()" /> Stores credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.isEncrypted" ng-change="edit()" /> Is encrypted
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.isSigned" ng-change="edit()" /> Is signed
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Flow'">
        <div class="form-group">
            <label>Protocol</label>
            <input ng-disabled="selected.elementProperties.outOfScope" class="form-control" type="text" ng-model="selected.elementProperties.protocol" ng-change="edit()" placeholder="Protocol" />
        </div>
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.isEncrypted" ng-change="edit()" /> Is encrypted
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-disabled="selected.elementProperties.outOfScope" type="checkbox" ng-model="selected.elementProperties.isPublicNetwork" ng-change="edit()" /> Is over a public network
            </label>
        </div>
    </div>
</form>
