﻿<div>
    <div class="modal-header">
        <h3>{{parameter.heading}}</h3>
    </div>
    <div class="modal-body">
        <form name="threatEditForm">
            <div class="form-group">
                <label>Title</label>
                <input name="titleInput" class="form-control" ng-required="true" type="text" ng-model="parameter.threat.title" placeholder="A short title for the threat" />
                <div ng-show="!threatEditForm.titleInput.$valid && threatEditForm.titleInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat title cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>STRIDE threat type</label>
                <select name="typeInput" class="form-control" ng-required="true" ng-model="parameter.threat.type">
                    <option selected>Spoofing</option>
                    <option>Tampering</option>
                    <option>Repudiation</option>
                    <option>Information disclosure</option>
                    <option>Denial of service</option>
                    <option>Elevation of privilege</option>
                </select>
                <div ng-show="!threatEditForm.typeInput.$valid && threatEditForm.typeInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat type cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group pull-left">
                <label>Threat status</label>
                <div>
                    <div class="btn-group" name="statusInput">
                        <label class="btn btn-primary" name="statusInputOpen" ng-model="parameter.threat.status" btn-radio="'Open'">Open</label>
                        <label class="btn btn-primary" name="statusInputMitigated" ng-model="parameter.threat.status" btn-radio="'Mitigated'">Mitigated</label>
                    </div>
                </div>
            </div>
            <div class="form-group pull-right">
                <label>Severity</label>
                <div>
                    <div class="btn-group" required>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" btn-radio="'High'">High</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" btn-radio="'Medium'">Medium</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" btn-radio="'Low'">Low</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="descriptionInput" ng-model="parameter.threat.description" class="form-control" rows="5" placeholder="Detailed description of the threat"></textarea>
            </div>
            <div class="form-group">
                <label>Mitigations</label>
                <textarea name="mitigationInput" ng-model="parameter.threat.mitigation" class="form-control" rows="5" placeholder="Mitigations for the threat"></textarea>
            </div>
        </form>
    </div>
    <div ng-if="parameter.editing" class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!threatEditForm.$dirty || !threatEditForm.$valid" ng-click="onOK()">Save</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
    <div ng-if="!parameter.editing" class="modal-footer">
        <tmt-modal-close action="onOK()" new-class="fade-left" template-url="./app/diagrams/modalAccept.html"></tmt-modal-close>
        <tmt-modal-close action="onCancel()" new-class="fade-down" template-url="./app/diagrams/modalIgnore.html"></tmt-modal-close>
    </div>
</div>
